@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
}


$brand:#1BBFA3;
$brand2:#053840;
$border:#D7D7D7;
$text:#2A2F2D;
$text80:#7A8087;
$white:#fff;
$placeholder:#BDBDBD;
$brand-hover:#1ADEBD;

@mixin boxshadow{
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}
@mixin avatar{
  a{
    position: relative;
    padding-top: 57%;
    display: block;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0;
    }
  }
}
body{
    font-size: 16px;
    min-height: 100vh;
    width: 100%;
    font-family: 'Questrial', sans-serif;
    background: linear-gradient(147deg, #D9F1E9 0%, #E5F4EB 13.07%, #F4F8FB 30.87%, #E7F5E5 63.54%, #CAF4E2 78.28%, #E4F8F1 100%);
}
.nav-bottom{
    position: absolute;
    bottom: 100px;
    padding: 20px;
    width: 100%;
    display: inline-block;
    ul{
        li{
            list-style: none;
        }
    }
}
.search-sidebar{
    position: relative;
    padding: 0 20px;
    display: inline-block;
    width: 100%;
    &__content{
        border-radius: 100px;
        height: 50px;
        display: inline-block;
        width: 100%;
        border: 1px solid white;
        display: flex;
        align-items: center;
        padding-left: 47px;
        padding-right: 18px;
        img{
            position: absolute;
            left: 35px;
            top: 13px;
        }
        input{
            background: none;
            width: 100%;
            height: 45px;
            color: white;
            outline: none;
            border: 0;
            &::placeholder{
              color: white;
              opacity: .4;
            }
        }
    }
    
}
.content-main-popup{
  p{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    a{
      color: $brand;
      margin-left: 10px;
    }
  }
  form{
    label{
      color: $text80;
    }
    input, textarea{
      height: 45px;
      background: white;
      padding: 0 20px;
      border-radius: 8px;
      border: 2px solid $border;
      &::placeholder{
        color: $placeholder;
      }
      &:focus{
        border-color: $brand;
      }
    }
    textarea{
      height: 173px;
      width: 100%;
      padding: 20px 15px;
    }
  }
}
.btn-login{
  display: flex;
  height: 50px;
  align-items: center;
}
.mt20{
  margin-top: 20px !important;
}
.btn-login-popup{
  display: inline-block;
  width: 100%;
  button{
    height: 52px;
    background: $brand;
    width: 100%;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    margin-bottom: 0px;
    text-align: center;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    border: 1px solid $brand;
    align-items: center;
    &:nth-child(2){
      background: white;
      color: $brand;
      text-transform: none;
      display: flex;
      border: 2px solid $brand;
      margin-bottom: 0;
      &:hover{
        background: $brand;
        border: 1px solid $brand;
        color: white !important;
      }
    }
    &:hover{
      background: $brand-hover;
      border: 1px solid $brand-hover;
    }
  }
}

.forget-pw{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  a{
    color: $text80;
    text-decoration: none;
    &:hover{
      color: $brand;
    }
  }
}
.button-start-course{
  position: absolute;
  right: 20px;
  top: 0px;
  width: 260px;
  height: 100%;
  display: flex;
  align-items: center;
  a{
    height: 55px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    width: 100%;
    padding: 0 20px;
    color: $brand;
    text-decoration: none;
    background: white;
    justify-content: center;
    b{
      font-size: 20px;
      margin-right: 5px;
    }
    &.disable-registration{
      pointer-events: none;
      opacity: .4;
      color: #c4c4c4;
      cursor: not-allowed;
    }
  }
}
.expense-box{
  float: left;
  margin-left: 20px;
  p{
    display:flex;
    align-items: center;
    width: 100%;
    i{
      display: flex;
      background: #1ADEBD;
      height: 23px;
      border-radius: 4px;
      padding: 0 7px;
      color: white;
      align-items: center;
      width: fit-content;
      font-style: normal;
    }
  }
  span{
    font-size: 13px;
    color: white;
    display: inline-block;
    
    width: 100%;
  }
  b{
    font-size: 26px;
    display: inline-block;
    width: 100%;
    color: white;
  }
  i{
    color: white;
  }
  label{
    color: white;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    margin: 5px 5px 0 0 ;
    text-decoration: line-through;
  }
}
.countdown-otp{
  display: inline-block;
  width: 100%;
  text-align: center;
  span{
    font-size: 22px;
    font-weight: bold;
    color: $brand;
  }
}
.des-phone-otp{
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
.des-phone-otp b{
  color: $brand;
}
.otp-input-fields{
margin: auto;
width: auto;
display: flex;
justify-content: center;
gap: 10px;
padding: 10px 0px;

input{
  height: 40px;
  width: 40px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid $border;
  text-align: center;
  padding: 0 !important;
  outline: none;
  color: $brand !important;
  font-size: 18px !important;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type=number] {
    -moz-appearance: textfield;
  }
  &:focus{
    border-width: 4px;
    border: solid 2px $brand;
    font-size: 20px;
  }
}
}


.digi-body{
    padding-left: 300px;
    position: relative;
    &__menu{
        width: 300px;
        position: fixed;
        left: 0;
        height: 100%;
        top: 0;


#sideNav,
.site-footer .max-width,
.view-filters,
.contextual-bg,
.block-system .js-form-type-search input.form-search {
  background-image: linear-gradient(to bottom, #34D8B9, #1BBEA2, #16A28E, #0E7069, #053840);
  background-size: 1200% 1200%;
  -webkit-animation: Grad-all 6s ease infinite;
  -moz-animation: Grad-all 6s ease infinite;
  animation: Grad-all 6s ease infinite; }

.contextual-color,
a.neutral-link:hover,
a.neutral-link:active,
a.bef-link--selected,
.node__content a:hover,
.page-link,
.path-search strong,
.checkbox .form-checkbox[checked="checked"] + label {
  color: #21B9A6;
  border-color: #21B9A6; }

.grad-event #sideNav,
.grad-event .contextual-bg,
.grad-event .view-filters,
.bg-event,
.bg-1,
.grad-event .site-footer .max-width {
  background-image: linear-gradient(to bottom, #053840, #0E7069, #16A28E, #1BBEA2, #34D8B9);
  background-size: 200% 200%;
  -webkit-animation: Grad-2 6s ease infinite;
  -moz-animation: Grad-2 8s ease infinite;
  animation: Grad-2 8s ease infinite; }

.grad-event .contextual-color,
.grad-event .bef-link--selected,
.grad-event a.neutral-link:hover,
.grad-event a.neutral-link:active,
.grad-event .node__content a:hover,
.grad-event .checkbox .form-checkbox[checked="checked"] + label {
  color: #000;
  border-color: #000; }

.grad-publication .contextual-bg,
.bg-publication,
.grad-publication .bef-link--selected,
.grad-publication .view-filters,
.grad-publication #sideNav,
.grad-publication .site-footer .max-width {
  background: linear-gradient(179deg, #053840, #55AFA4);
  background-size: 400% 400%;
  -webkit-animation: Grad-2 6s ease infinite;
  -moz-animation: Grad-2 8s ease infinite;
  animation: Grad-2 8s ease infinite; }

.grad-publication .contextual-color,
.grad-publication a.neutral-link:hover,
.grad-publication a.neutral-link:active,
.grad-publication .node__content a:hover,
.grad-publication .checkbox .form-checkbox[checked="checked"] + label {
  color: #148F80;
  border-color: #148F80; }

.grad-formation .contextual-bg,
.bg-formation,
.bg-3,
.grad-formation .view-filters,
.grad-formation #sideNav,
.grad-formation .site-footer .max-width {
  background: linear-gradient(179deg, #148F80, #21B9A6);
  background-size: 400% 400%;
  -webkit-animation: Grad-2 8s ease infinite;
  -moz-animation: Grad-2 8s ease infinite;
  animation: Grad-2 8s ease infinite; }

.grad-formation .contextual-color,
.grad-formation .bef-link--selected,
.grad-formation a.neutral-link:hover,
.grad-formation a.neutral-link:active,
.grad-formation .node__content a:hover,
.grad-formation .checkbox .form-checkbox[checked="checked"] + label {
  color: #004592;
  border-color: #004592; }

.grad-recherche .contextual-bg,
.grad-recherche #sideNav,
.grad-recherche .view-filters,
.bg-recherche,
.bg-2,
.grad-recherche .site-footer .max-width {
  background-image: linear-gradient(to bottom, #34D8B9, #1BBEA2, #16A28E, #0E7069, #053840);
  background-size: 400% 400%;
  -webkit-animation: Grad-2 6s ease infinite;
  -moz-animation: Grad-2 6s ease infinite;
  animation: Grad-2 6s ease infinite; }

.grad-recherche .contextual-color,
.grad-recherche a.neutral-link:hover,
.grad-recherche a.neutral-link:active,
.grad-recherche .node__content a:hover,
.grad-recherche .checkbox .form-checkbox[checked="checked"] + label {
  color: #000;
  border-color: #000; }

.grad-personne .contextual-bg,
.grad-personne #sideNav,
.bg-personne,
.grad-personne .site-footer .max-width,
.grad-personne .view-filters {
  background: linear-gradient(180deg, #8496cc, #605099);
  background-size: 400% 400%;
  -webkit-animation: Grad-2 6s ease infinite;
  -moz-animation: Grad-2 6s ease infinite;
  animation: Grad-2 6s ease infinite; }

.grad-personne .contextual-color,
.grad-personne a.neutral-link:hover,
.grad-personne a.neutral-link:active,
.grad-personne .node__content a:hover,
.grad-personne .checkbox .form-checkbox[checked="checked"] + label {
  color: #605099;
  border-color: #605099; }

.thm-item a,
.grad-thematique .contextual-bg,
.grad-thematique #sideNav,
.bg-thematique,
.grad-thematique .site-footer .max-width {
  background: linear-gradient(179deg, #5f9cb7, #628d7b);
  background-size: 400% 400%;
  -webkit-animation: Grad-2 6s ease infinite;
  -moz-animation: Grad-2 6s ease infinite;
  animation: Grad-2 6s ease infinite; }

.logo-mb {
  display: none; }

.grad-thematique .contextual-color,
.grad-thematique a.neutral-link:hover,
.grad-thematique a.neutral-link:active,
.grad-thematique .node__content a:hover,
.grad-thematique .checkbox .form-checkbox[checked="checked"] + label {
  color: #5f9cb7;
  border-color: #5f9cb7; }

.nobg {
  background: none !important; }

@-webkit-keyframes Grad-all {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@-moz-keyframes Grad-all {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@keyframes Grad-all {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@-webkit-keyframes Grad-2 {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@-moz-keyframes Grad-2 {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@keyframes Grad-2 {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
    }
    &__content{
      display: block;
      width: 100%;
      max-width: 1360px;
      padding: 30px;
      margin: auto;
      .about-digime{
        position: relative;
        padding-left: 250px;
        img{
          position: absolute;
          left: 0;
          top: 0;
          width: 210px;
        }
      }
    }
}
.box-course{
  display: inline-block;
  width: 100%;
}
.list-course-item{
  position: relative;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  float: left;
  width: 100%;
  padding-right: 205px;
  margin-top: 30px;
  display: flex;
  min-height: 140px;
  .cate-design{
    position: absolute;
    left: 0;
    top: 0;
    width: 61px;
  }
}
.course-section{
  padding: 50px 0;
}
.box-course-first{
  float: left;
  position: relative;
  width: 100%;
  padding: 0 315px 0 345px;

  .coursefor{
    float: left;
    width: initial;
    b, p{
      color: white;
    }
    b{
      font-size: 13px;
      
      margin-bottom: 10px;
      display: inline-block;
      width: 100%;
    }
  }
}
.loader {
  border: 10px solid #f3f3f357;
  border-radius: 50%;
  border-top: 10px solid white;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}
.box-loading{
  
  position: relative;
  padding-left: 80px;
  margin-left: 30px;
  .loader{
    width: 70px;
    position: absolute;
    left: 0;
    top: 0;
  }
  b{
    font-size: 32px;
    display: inline-block;
    width: 100%;
    color: white;
    line-height: 37px;
    margin-top: 4px;
  }
  span{
    font-size: 16px;
    color: white;
  }
}
.price-courseVideo{
  display: inline-block;
  width: 100%;
  b{
    font-size: 40px;
    color: $text;
  }
  p{
    display: flex;
    align-items: center;
    width: 100%;
    span{
      text-decoration: line-through;
      font-size: 18px;
      color: $text80;
      margin-right: 10px;
    }
    i{
      height: 22px;
      color: white;
      display: inline-block;
      border-radius: 4px;
      background: $brand;
      font-size: 16px;
      font-style: normal;
      padding: 0 5px;
      display: flex;
      align-items: center;
    }
  }
}

.title-section{
  display: inline-block;
  width: 100%;
  b{
    font-size: 44px;
    color: $brand2;
    display: inline-block;
    width: 100%;
  }
  p{
    margin-left: -10px;
    margin-right: -10px;
    span{
      &:nth-last-child(1){
        border-right: 0 !important;
      }
    }
  }
  span{
    font-size: 14px;
    display: inline-block;
    color: $text80;
    padding: 0 10px;
    border-right: 1px solid $border;
    i{
      font-size: 16px;
      font-style: normal;
      color: $text;
    }
  }
  
}

.slidebar-menu{
    width: 300px;
    position: fixed;
    left: 0;
    height: 100%;
    top: 0;
}
@mixin button{
    display: flex; align-items: center; justify-content: center; height: 50px; padding: 0 27px; background: $brand; color: white; border-radius: 100px; width: fit-content;
    i, span{
        color: white;
    }
    span{
        margin-left: 3px;
    }
    &:hover{
      color: white;
          text-decoration: none;
        background: $brand-hover;
        i, span, b{
          color: white;
          text-decoration: none;
        }
    }
}

.box-course-first{
  background: linear-gradient(90.82deg, #1BBFA3 1.83%, #138A7C 67.57%);
border-radius: 8px;
width: 100%;
min-height: 142px;
display: flex;
align-items: center;
}







@mixin button-course{
    display: flex; align-items: center; justify-content: center; height: 45px; padding: 0 20px; background: $brand; color: white; border-radius: 100px;
    span{
        color: white;
    }
    &:hover{
        background: $brand-hover;
    }
}
@mixin form-filed{
    form{
        label{
            &.text-filed{
                color: $text80;
            }
        }
        input{
            &.filed-input{
                height: 45px;
                border-radius: 8px;
                border: 2px solid $border;
                &::placeholder{
                    color: $placeholder;
                }
            }
            &:focus{
                border-color: $brand;
            }
        }
    }
}
.name-course{
  padding-right: 20px;
  width: 30%;
}
.button-action-course{
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
  width: 205px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 20px;
  a{
    @include button-course();
    width: 100%;
    text-decoration: none;
  }
}
.benefit-for-you{
  display: inline-block;
  width: 100%;
  padding-top: 30px;
}

.content-benefit{
  display: inline-block;
  width: 100%;
  margin-top:50px;
  position: relative;
  text-align: center;
  p{
    text-align: left;
    width: 100%;
    max-width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    b{
      text-transform: uppercase;
      color: $brand;
      margin-bottom: 5px;
      font-size: 20px;
      display: inline-block;
      width: 100%;
    }
    font-size: 14px;
    color: $text80;
    &:nth-child(1){
      right: 16%;
      position: absolute;
      top: 69px;
    }
    &:nth-child(2){
      left: 8%;
      position: absolute;
      top: 215px;
    }
    &:nth-child(3){
      right: 22%;
      position: absolute;
      top: 270px;
    }
    &:nth-child(4){
      left: 14%;
      position: absolute;
      top: 395px;
    }
  }
  img{
    width:700px;
    margin: auto;
  }
}


footer{

#sideNav,
.site-footer .max-width,
.view-filters,
.contextual-bg,
.block-system .js-form-type-search input.form-search {
  background-image: linear-gradient(to bottom, #34D8B9, #1BBEA2, #16A28E, #0E7069, #053840);
  background-size: 1200% 1200%;
  -webkit-animation: Grad-all 6s ease infinite;
  -moz-animation: Grad-all 6s ease infinite;
  animation: Grad-all 6s ease infinite; }

.contextual-color,
a.neutral-link:hover,
a.neutral-link:active,
a.bef-link--selected,
.node__content a:hover,
.page-link,
.path-search strong,
.checkbox .form-checkbox[checked="checked"] + label {
  color: #21B9A6;
  border-color: #21B9A6; }

.grad-event #sideNav,
.grad-event .contextual-bg,
.grad-event .view-filters,
.bg-event,
.bg-1,
.grad-event .site-footer .max-width {
  background-image: linear-gradient(to bottom, #053840, #0E7069, #16A28E, #1BBEA2, #34D8B9);
  background-size: 200% 200%;
  -webkit-animation: Grad-2 6s ease infinite;
  -moz-animation: Grad-2 8s ease infinite;
  animation: Grad-2 8s ease infinite; }

.grad-event .contextual-color,
.grad-event .bef-link--selected,
.grad-event a.neutral-link:hover,
.grad-event a.neutral-link:active,
.grad-event .node__content a:hover,
.grad-event .checkbox .form-checkbox[checked="checked"] + label {
  color: #000;
  border-color: #000; }

.grad-publication .contextual-bg,
.bg-publication,
.grad-publication .bef-link--selected,
.grad-publication .view-filters,
.grad-publication #sideNav,
.grad-publication .site-footer .max-width {
  background: linear-gradient(179deg, #053840, #55AFA4);
  background-size: 400% 400%;
  -webkit-animation: Grad-2 6s ease infinite;
  -moz-animation: Grad-2 8s ease infinite;
  animation: Grad-2 8s ease infinite; }

.grad-publication .contextual-color,
.grad-publication a.neutral-link:hover,
.grad-publication a.neutral-link:active,
.grad-publication .node__content a:hover,
.grad-publication .checkbox .form-checkbox[checked="checked"] + label {
  color: #148F80;
  border-color: #148F80; }

.grad-formation .contextual-bg,
.bg-formation,
.bg-3,
.grad-formation .view-filters,
.grad-formation #sideNav,
.grad-formation .site-footer .max-width {
  background: linear-gradient(179deg, #148F80, #21B9A6);
  background-size: 400% 400%;
  -webkit-animation: Grad-2 8s ease infinite;
  -moz-animation: Grad-2 8s ease infinite;
  animation: Grad-2 8s ease infinite; }

.grad-formation .contextual-color,
.grad-formation .bef-link--selected,
.grad-formation a.neutral-link:hover,
.grad-formation a.neutral-link:active,
.grad-formation .node__content a:hover,
.grad-formation .checkbox .form-checkbox[checked="checked"] + label {
  color: #004592;
  border-color: #004592; }

.grad-recherche .contextual-bg,
.grad-recherche #sideNav,
.grad-recherche .view-filters,
.bg-recherche,
.bg-2,
.grad-recherche .site-footer .max-width {
  background-image: linear-gradient(to bottom, #34D8B9, #1BBEA2, #16A28E, #0E7069, #053840);
  background-size: 400% 400%;
  -webkit-animation: Grad-2 6s ease infinite;
  -moz-animation: Grad-2 6s ease infinite;
  animation: Grad-2 6s ease infinite; }

.grad-recherche .contextual-color,
.grad-recherche a.neutral-link:hover,
.grad-recherche a.neutral-link:active,
.grad-recherche .node__content a:hover,
.grad-recherche .checkbox .form-checkbox[checked="checked"] + label {
  color: #000;
  border-color: #000; }

.grad-personne .contextual-bg,
.grad-personne #sideNav,
.bg-personne,
.grad-personne .site-footer .max-width,
.grad-personne .view-filters {
  background: linear-gradient(180deg, #8496cc, #605099);
  background-size: 400% 400%;
  -webkit-animation: Grad-2 6s ease infinite;
  -moz-animation: Grad-2 6s ease infinite;
  animation: Grad-2 6s ease infinite; }

.grad-personne .contextual-color,
.grad-personne a.neutral-link:hover,
.grad-personne a.neutral-link:active,
.grad-personne .node__content a:hover,
.grad-personne .checkbox .form-checkbox[checked="checked"] + label {
  color: #605099;
  border-color: #605099; }

.thm-item a,
.grad-thematique .contextual-bg,
.grad-thematique #sideNav,
.bg-thematique,
.grad-thematique .site-footer .max-width {
  background: linear-gradient(179deg, #5f9cb7, #628d7b);
  background-size: 400% 400%;
  -webkit-animation: Grad-2 6s ease infinite;
  -moz-animation: Grad-2 6s ease infinite;
  animation: Grad-2 6s ease infinite; }

.logo-mb {
  display: none; }

.grad-thematique .contextual-color,
.grad-thematique a.neutral-link:hover,
.grad-thematique a.neutral-link:active,
.grad-thematique .node__content a:hover,
.grad-thematique .checkbox .form-checkbox[checked="checked"] + label {
  color: #5f9cb7;
  border-color: #5f9cb7; }

.nobg {
  background: none !important; }

@-webkit-keyframes Grad-all {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@-moz-keyframes Grad-all {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@keyframes Grad-all {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@-webkit-keyframes Grad-2 {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@-moz-keyframes Grad-2 {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@keyframes Grad-2 {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
}
.cate-course{
  display: inline-block;
  width: 100%;
  .col-md-3{
    .item-cate-course{
      display: inline-block;
        width: 100%;
        text-align: center;
        padding: 30px 20px;
      a{
        display: inline-block;
        width: 100%;
        img{
          width: 48px;
        }
      }
      h4{
        display: inline-block;
        width: 100%;
        margin-top: 5px;
        a{
          font-size: 18px;
          color: white;
        }
      }
    }
    &:nth-child(1){
      .item-cate-course{
        background: linear-gradient(90deg, #02AAB0 0%, #00CDAC 100%);
        border-radius: 8px;
      }
    }
    &:nth-child(2){
      .item-cate-course{
        background: linear-gradient(60deg, #2AC4A7 13.4%, #0EBEA0 86.6%);
        border-radius: 8px;
      }
    }
    &:nth-child(3){
      .item-cate-course{
        background: linear-gradient(60deg, #2ADDBB 13.4%, #19B299 86.6%);
        border-radius: 8px;
      }
    }
    &:nth-child(4){
      .item-cate-course{
        background: linear-gradient(253.25deg, #1BBFA3 13.87%, #13897B 100%);
        border-radius: 8px;
      }
    }
  }
}
.coursefor{
  width: 20%;
  padding: 20px;
  b{
    font-size: 13px;
  }
  p{
    margin-bottom: 0;
  }
}
.benefit-course{
  width:49%;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  ul{
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 25px;
    li{
      p{
        padding-bottom: 5px;
        margin-bottom: 0;
      }
    }
  }
}
.benefit-course{
  position: relative;
  display: flex;
  justify-content: space-between;
}
.logo{
    padding: 20px;
    display: inline-block;
    width: 100%;
}
.menu-nav{
  margin-top: 20%;
  ul{
    padding: 20px;
    li{
      list-style: none;
      margin-bottom: 15px;
      a{
        height: 48px;
        padding: 4px 45px;
        border-radius: 100px;
        color: $brand;
        text-decoration: none;
        display: flex;
        align-items: center;
        width: fit-content;
        font-size: 20px;
        background: rgba(255, 255, 255, 0.8);
        &:hover, &.active{
          background: white;
          color: $brand;
        }
      }
    }
  }
}
.icon-course-avatar{
  float: left;
  width: 12%;
  padding:0 20px 0 30px;
  img{
    width: 100%;
  }
}
.name-course{
  float: left;
  width: 30%;
  h6{
    a{
      font-size: 26px;
      text-decoration: none;
      color: $text;
    }
  }
  i{
    font-style: italic;
    color: $brand;
  }
}
.coursefor{
  float: left;
  width: 15%;
  p{
    color: $brand;
  }
}
.benefit-course{
  float: left;
  width: 44%;
}
.nav-bottom{
  ul{
    li{
      padding: 10px 0;
      a{
        color: white;
        font-size: 16px;
        text-decoration: none;
        &:hover{
          color: $brand-hover;
        }
      }}}
}
.footer-body{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  align-items: center;
  padding: 20px 30px;
}
footer{
  margin-top: 30px;
}
.menu-footer{
  text-align: right;
  max-width: 240px;
  a{
    display: inline-block;
    width: 100%;
    text-align: left;
    color: white;
    font-size: 14px;
  }
}
.infor-footer{
  b,p, a{
    color: white;
    font-size: 14px;
  }
  p{
    margin-bottom: 0;
  }
  a{
    margin-right: 10px;
  }
  img{
    margin-top: 10px;
  }
}
.infor-company{
  position: relative;
  padding-left: 150px;
  img{
    &.logo-footer{
      position: absolute;
      left: 0;
      top: 0;
      width: 110px;
    }
  }
}
.pt0{
  padding-top: 0 !important;
}
.route-course{
  display: inline-block;
  margin: 15px 0;
  width: 100%;
  img{
    width: 100%;
  }
}
.filter-course{
  display: inline-block;
  width: 100%;
  .item-filter{
    display: inline-block;
    width: 100%;
    span{
      display: inline-block;
      width: 100%;
      font-size: 14px;
      color: $text80;
    }
    a{
      height: 40px;
      padding: 0 20px;
      border: 2px solid $border;
      border-radius: 100px;
      display: flex;
      align-items: center;
      float: left;
      margin-top: 10px;
      font-size: 14px;
      width: fit-content;
      text-decoration: none;
      background: white;
      margin-right: 10px;
      color: $text80;
      &:hover, &:focus{
        border-color: $brand;
        color: $brand;
      }
      &.active{
        background: $brand;
        border-color:$brand;
        color: white;
      }
    }
  }
}
.logged{
  display: flex;
  display: none;
  cursor: pointer;
  justify-content: space-between;
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  padding-top: 15px;
  .infor-myacc{
    display: flex;
    align-items: center;
    img{
      width: 50px;
      height: 50px;
      object-fit: cover;
      background: white;
      border-radius: 100px;
      margin-right: 10px;
      border: 2px solid #FFFFFF;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.06);
    }
  }
  .infor-account{
    display: inline-block;
    width: 100%;
    span{
      font-size: 13px;
      display: inline-block;
      color: white;
      width: 100%;
    }
    b{
      display: inline-block;
      width: 100%;
      color: white;
    }
  }
  &:hover{
    .sub-acc-hover{
      visibility: inherit;
      bottom: 81px;
    }
  }
}
.acc-sidebar{
  position: absolute;
  bottom: 0px;
  padding: 20px;
  left: 0;
  width: 100%;
  .unlogged{
    align-items: center;
    display: flex;
    a{
      color: white;
      font-size: 14px;
      text-decoration: none;
    }
    .registration{
      a{
        margin-right: 15px;
        height: 45px;
        display: flex;
        width: max-content;
        align-items: center;
        font-size: 14px;
        color: white;
        padding: 0 20px;
        border-radius: 100px;
        border: 1px solid white;
        &:hover{
          background: $brand-hover;
          color: white;
          border-color: $brand-hover;
        }
      }
    }
  }
}
.sub-acc-hover{
  position: absolute;
  bottom: -100px;
  left: 20px;
  width: 260px;
  border-radius: 8px;
  background: white;
  visibility: hidden;
  .content-sub-acc-hover{
    display: inline-block;
    padding: 0 20px;
    width: 100%;
    a{
      height: 60px;
      display: flex;
      align-items: center;
      text-decoration: none;
      width: 100%;
      border-bottom: 1px solid $border;
      color: $text80;
      img{
        width: 25px;
        margin-right:12px;
      }
      &:nth-last-child(1){
        margin-top: 40px;
        border-bottom: 0 !important;
      }
      &:hover{
        opacity: .7;
      }
    }
  }
}
.editor-course-body{
  display: inline-block;
  min-height: 600px;
  width: 100%;
}
.description-first{
  display: inline-block;
  width: 100%;
  padding: 30px 0;
  p{
    margin-bottom: 0;
  }
}
.checklist-curriculum{
  display: inline-block;
  width: 100%;
  padding: 25px;
  background: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding-top: 5px;
  margin-top: 20px;
  padding-bottom: 5px;
  .item-curriculum{
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #E5E7E8;
    padding: 15px 0;
    &__title{
      display: flex;
      cursor: pointer;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      b{
        font-size: 20px;
      }
      span{
        font-size: 16px;
        cursor: pointer;
        color: $text80;
        img{
          margin-left: 20px;
        }
      }
    }
    &__description{
      display: inline-block;
      width: 100%;
      display: none;
      ul{
        margin-bottom: 0;
        padding: 20px 0;
        padding-left: 25px;
        display: inline-block;
          width: 100%;
          padding-bottom: 0;
        li{
          display: inline-block;
          width: 100%;
          position: relative;
          padding-left: 37px;
          img{
            position: absolute;
            left: 0;
            top: 0;
          }
          p{
            display: inline-block;
            width: 100%;
            font-size: 16px;
            text-align: justify;
            color: $text80;
            line-height: 28px;
          }
        }
      }
    }
    &.active{
      border-color: $brand;
      .item-curriculum__description{
        display: inline-block !important;
      }
    }
    &:nth-last-child(1){
      border-bottom: 0 !important;
    }
  }
}
.curriculum{
  display: inline-block;
  width: 100%;
}
.title-curriculum{
  display: inline-block;
  width: 100%;
  b{
    margin-bottom: 0px;
    font-size: 28px;
    display: inline-block;
    width: 100%;
  }
}
.countdown-box{
  position: absolute;
  left: 0;
  top: 20px;
  ul{
    li{
      text-align: center;
      color: white;
      font-size: 12px;
      display: inline-block;
      min-width: 78px;
      position: relative;
      margin-top: 10px;
      &::after{
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: white;
        display: inline-block;content: '';
        position: absolute;
        right: -4px;
        top: 12%;
      }
      &::before{
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: white;
        display: inline-block;content: '';
        position: absolute;
        right: -4px;
        top:37%;
      }
      span{
        font-size: 40px;
        display: inline-block;
        color: white;
        width: 100%;
        line-height: 28px;
      }
      &:nth-last-child(1){
        &::after, &::before{
          display: none;
        }
      }
    }
  }
  b{
    display: inline-block;
    width: 100%;
    color: white;
    padding: 0 20px;
  }
}
.popup-body{
  position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    .content-popup{
      background: white;
      width: 100%;
      position: relative;
      max-width: 373px;
      border-radius: 8px;
      padding: 15px 40px 30px 40px;
    }
    &.active{
      opacity: 1;
      visibility: initial;
    }
}
.title-popup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  span{
    font-size: 28px;
  }
  img{
    position: absolute;
    right: 20px;
    top:20px;
    cursor: pointer;
  }
}

.button-component{
  @include button();
}
.box-benefit-right, .title-box-right{
  display: inline-block;
  width: 100%;
}
.box-benefit-right{
  background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
border-radius: 8px;
padding: 20px;
margin-top: 30px;
}
.box-author-right{
  background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
border-radius: 8px; 
padding: 20px 0;
margin-top: 30px;
padding-bottom: 0;
.title-box-right {
  padding: 0 20px;
  b{
    text-transform: uppercase;
    color: $text80;
    font-size: 14px;
  }
}
}
.content-author{
  display: inline-block;
  width: 100%;
  padding: 20px;
  padding-bottom: 0;
  
}
.author-share-box{
  max-width: 700px;
  margin: auto;
}
.author-avatar{
  position: relative;
  padding-left: 100px;
  min-height: 108px;
  img{
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 100px;
    border: 3px solid #FFFFFF;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.06);
  }
  .infor-author{
    b{
      font-size: 22px;
      margin-top: 10px;
      display: inline-block;
width: 100%;
margin-bottom: 4px;
    }
    span{
      color: $text80;
    }
  }
}
.continue-author{
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #ECF1F5;
  a{
    display: flex;
    height: 60px;
    width: 100%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: $brand;
    img{
      margin-left: 5px;
    }
  }
}
.description-author{
  display: inline-block;
  width: 100%;
  p{
    margin-bottom: 0;
    font-size: 14px;
    color: #7A8087;
    line-height: 26px;
  }
}
.title-box-right {
  b{
    text-transform: uppercase;
    color: $text80;
    font-size: 14px;
  }
}
.list-benefit-boxright{
  display: inline-block;
  width: 100%;
  p{
    display: inline-block;
  width: 100%;position: relative;
  padding: 15px 0;
  padding-left: 35px;
  margin-bottom: 0;
  img{
    position: absolute;
    left: 0;
    top: 15px;
    width: 26px;
  }
  span{
    display: inline-block;
    width: 100%;
    padding: 0;
  }
  }
}
.disable-registration{
  font-size: 20px;
    color: white;
    opacity: .5;
    float: right;
    text-align: right;
    width: 100%;
}
.video-about{
  display: inline-block;
  width: 100%;
  img{
    width: 100%;
  }
}
.video-about{
  margin-top: 30px;
}
.box-list-video-course{
  display: inline-block;
  margin-bottom: 30px;
  width: 100%;
}
.clock-countdown{
  display: inline-block;
  width: 100%;
  .title-clock{
    display: flex;
    align-items: center;
    img{
      margin-right: 5px;
    }
    span{
      color: $brand;
    }
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      padding: 0;
      width: 25%;
      text-align: center;
      font-size: 13px;
      float: left;
      color: $text80;
      span{
        font-size: 40px;
        color: $brand;
        display: inline-block;
        width: 100%;
      }
    }
  }
}
.item-box-list-video{
  position: relative;
  padding-right: 160px !important;
  .infor-video-course{
    b{
      font-size: 22px;
      
      display: inline-block;
  width: 100%;
  a{
    color: $text;
  }
    }
    span{
      color: $text80;
      display: inline-block;
  width: 100%;
  font-size: 14px;
    }
  }
img{
  margin-right: 20px;
  width: 130px;
}
}
.item-box-list-video{
  display:flex;
  width: 100%;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  margin-top: 20px;
  align-items: center;
}
.time-video{
  width: 120px;
  text-align: right;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
  i{
    color: $text80;
    font-style: normal;
  }
}

.btn-registration-course{
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  padding-top: 0;
  a{
    
    @include button();
    width: 100%;
    font-size: 20px;
  }
}
.infor-des-course{
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  p{
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 30px;
    img{
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
    }
    span{
      color: $text80;
    }
    label{
      text-transform: uppercase;
      margin-bottom: 0;
    }
    b{
      color: $brand;
      font-size: 18px;
    }
    &:nth-last-child(1){
      margin-bottom: 0;
    }
  }
}
.list-video-course{
  display: inline-block;
  width: 100%;
  img{
    width: 100%;
  }
}
.button-complete-course{
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  button{
    @include button();
    padding: 0 30px;
    &:disabled{
      background: $border !important;
    }
  }
}
h2{
  font-size: 26px;
  margin-bottom: 15px;
}
h3{
  font-size: 24px;
  margin-bottom: 15px;
}
h4{
  font-size: 22px;
  margin-bottom: 15px;
}
h5{
  font-size: 20px;
  margin-bottom: 15px;
}
h6{
  font-size: 18px;
  margin-bottom: 15px;
}
.editor-infor-course-detail{
  display: inline-block;
  width: 100%;
  text-align: justify;
  h2{
    font-size: 26px;
    margin-bottom: 15px;
  }
  h3{
    font-size: 24px;
    margin-bottom: 15px;
  }
  h4{
    font-size: 22px;
    margin-bottom: 15px;
  }
  h5{
    font-size: 20px;
    margin-bottom: 15px;
  }
  h6{
    font-size: 18px;
    margin-bottom: 15px;
  }
  ul{
    padding-left: 25px;
    margin-bottom: 15px;
  }
}
.editor-infor-course-detail{
  margin-top: 20px;
}
.list-file{
  padding: 20px;
  padding-bottom: 0;
  p{
    display: inline-block;
    position: relative;
    padding-left: 30px;
    img{
      width: 20px;
      position: absolute;
      left: 0;
      top: 5px;
    }
    span{
      color: $text80;
      line-height: 20px;
      font-size: 14px;
    }
  }
}
.btn-excercises{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  margin-top: 10px;
  padding: 0 20px;
  padding-bottom: 20px;
  
  a{
    @include button();
  }
}
.blogs-large-first{
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}
.blogs-item{
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  .avatar-blogs{
    display: inline-block;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    a{
      position: relative;
      padding-top: 57%;
      display: block;
      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
      }
    }
  }
  &.large{
    
    h3{
      margin-bottom: 15px;
      a{
        font-size: 40px;
      }
    }
  }
}
.infor-blogs{
  display: inline-block;
  width: 100%;
  .title-cate{
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    a{
      color: $brand;
      font-size: 14px;
      text-decoration: none;
    }
    span{
      color: $text80;
      font-size: 14px;
    }
  }
  h3{
    a{
      font-size: 20px;
      color: $text;
    }
  }
  p{
    color: $text80;
  }
}
.tab-cate-blogs{
  display: flex;
  margin: 30px 0 20px 0;
  width: 100%;
  a{
    height: 35px;
    border-radius: 5px;
    border:1px solid #cfdcd3;
    color: $text80;
    display: flex;
    text-decoration: none;
    margin-right: 15px;
    align-items: center;
    padding: 3px 15px;
    &.active, &:hover{
      border-color: $brand;
      color: $brand;
      background: white;
    }
  }
}
.blogs-list-all{
  display: inline-block;
  width: 100%;
  .blogs-item{
    margin-bottom: 50px;
  }
}
.button-expand{
  margin: auto;
  width: fit-content;
  a{
    @include button();
    img{
      margin-left: 5px;
    }
  }
}
.account-digime{
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  background: linear-gradient(147deg, #D9F1E9 0%, #E5F4EB 13.07%, #F4F8FB 30.87%, #E7F5E5 63.54%, #CAF4E2 78.28%, #E4F8F1 100%);
  display: inline-block;
  width: 100%;
  padding:10px 20px;
  .head-acc-digime{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(90.82deg, #1BBFA3 1.83%, #138A7C 67.57%);
    border-radius: 8px;
    padding-left: 100px;
    position: relative;
    button{
      background: none;
      outline: none;
      display: flex;
      position: absolute;
      left: 20px;
      top: 25px;
      img{
        margin-right: 5px;
      }
      span{
        color: white;
      }
    }
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: 0 !important;
      li{
        list-style: none;
        border: 0 !important;
        margin: 0 10px;
        a{
          height: 50px;
          display: flex;
          align-items: center;
          padding: 0 40px;
          border-radius: 100px;
          color: white;
          background: rgba(255, 255, 255, 0.319);
          &.active{
            color: $brand;
            background: white;
          }
        }
        
      }
    }
  }
}
.detail-blogs-box{
  display: inline-block;
  width: 100%;
  .infor-blogs-head{
    display: inline-block;
    width: 100%;
    position: relative;
    padding-right: 650px;
    min-height: 400px;
  }
}
.avatar-blogs-Detail{
  position: absolute;
  border-radius: 8px;
  overflow: hidden;
  right: 0;
  top: 0;
  width: 570px;
  @include avatar();
}
.content-head-blogsDetail{
  h1{
    font-size: 44px;
  }
  b{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 13px;
    width: 100%;
    span{
      display: flex;
      align-items: center;
      padding: 0 14px;
      border-radius: 100px;
      background: $brand;
      height: 33px;
      font-size: 13px;
      color: white;
    }
    i{
      font-style: normal;
      color: $text80;
      font-size: 13px;
      margin-left: 10px;
    }
  }
}
.description-Detail-Blogs{
  position: relative;
  display: inline-block;
  width: 100%;
}
.content-description-Blogs{
  max-width: 700px;
  margin: auto;
  width: 100%;
  text-align: justify;
  img{
    width: 100%;
    margin-bottom: 20px;
  }
  ul{
    padding-left: 25px;
  }
}
.table-of-content{
  position: absolute;
  left: 0;
  max-width: 200px;
  width: 100%;
  top: 0;
  ul{
    padding-left: 0;
    li{
      list-style: none;
      position: relative;
      padding-left: 17px;
      margin-bottom: 10px;
      &::before{
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 100px;
        background: #BDBDBD;
        position: absolute;
        left: 0;
        top: 8px;
      }
      a{
        background: none;
        color: $text80;
        
      }
      &:hover{
       &::before{
        background: $brand;
       }   
       a{
        color: $brand;
       }
      }
    }
  }
}
.share-this-blogs{
  display: inline-block;
  width: 100%;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  padding: 20px 0;
  margin-bottom: 20px;
  text-align: center;
  span{
    display: inline-block;
    width: 100%;
  }
  .icon-share{
    display: flex;
    justify-content: center;
    width: 100%;
    a{

      img{
        width: 30px;
        margin: 0 5px;
      }
    }
  }
}
.content-head-blogsDetail{
  display: inline-block;
  width: 100%;
  margin-top: 5%;
}
.author-blogs{
  .continue-author{
    display: flex;
    border: 0;
    padding: 0 !important;
    justify-content: left;
    margin-top: 0;
    a{
      justify-content: center;
    }
  }
}
.title-author{
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  b{
    font-size: 22px;
  }
}
.blogs-similarSort{
  display: inline-block;
  padding: 20px 0;
  width: 100%;
  margin-top: 50px;
  .title-curriculum{
    margin-bottom: 20px;
  }
}
.body-account{
  display:block;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 30px 0;
  .columns-name-acc{
    background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
border-radius: 8px;
display: inline-block;
width: 100%;
padding: 20px
  }
}

.avatar-account-page{
  width: 160px;
  @include avatar();
  position: relative;
  max-width: 160px;
  width: 100%;
  margin: auto;
  a{
    padding-top: 94% !important;
    border-radius: 1000px;
    border: 5px solid white;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.06);
  }

  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    width: 60px;
    height: 32px;
    display: inline-block;
    content: '';
    outline: none;
    cursor: pointer;
    background: url(../images/cam.svg) no-repeat center top;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }



  input{
    background: none;
    position: absolute;
    bottom: -15px;
    left: 51px;
    width: 60px;
    height: 32px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    opacity: 1 !important;
    background: url(../images/cam.svg) no-repeat center top;
  }
}
.title-name-account{
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  b{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin: 15px 0;
  }
}
.button-logout{
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  button{
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 100px;
    height: 50px;
    border: 1px solid $text80;
    padding: 2px 27px;
    margin: auto;
    img{
      margin-right: 4px;
    }
    span{
      color: $text80;
    }
  }
}
.form-account{
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  padding: 20px;
}

.checkbox-form{
  margin-top: 20px;
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    line-height: 29px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid $border;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ffffff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: $brand;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 3px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.btn-save-acc{
  button{
    width: fit-content;
    padding: 0 30px;
    margin: auto;
    border-radius: 100px;
    text-transform: none;
    img{
      margin-right: 5px;
    }
  }
}

.box-loading-account{
img{
  display: inline-block;
  width: 140px;
}
}
.progress{
  position: relative;
  height: 10px;
  width: 1110%;
  border: 10px solid $brand;
  border-radius: 15px;
}
.progress .color{
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 4s infinite linear;    
}
@keyframes progres{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  50%{
      width: 75%;
  }
  75%{
      width: 85%;
  }
  100%{
      width: 100%;
  }
};
.right-box-corse-inAcc{
  float: right;
}
.box-loading-account{
  position: absolute;
  right: 200px;
  top: 0;
}
.content-tab-course-paid{
  .icon-course-avatar {
    width: 140px;
    padding: 0 20px 0 30px;
}
.list-course-item{
  margin-top: 0;
  margin-bottom: 20px;
}
.name-course h6 a {
  font-size: 22px;
}
.name-course {
  width: 50%;
}
}
.empty-course{
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  width: 100%;
  text-align: center;
  padding: 50px 20px;
  img{
    width: 100%;
    margin-bottom: 15px;
    display: inline-block;
    max-width: 500px;
  }
  span{
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
  }
  b{
    color: $brand;
    font-style: italic;
    font-size: 32px;
    margin-bottom: 10px;
  }
  .button-link-to-course{
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    a{
      display: block;
      margin: auto;
      @include button();
    }
  }
}
.title-popup-header{
  display: inline-block;
  width: 100%;
  text-align: center;
  b{
    font-size: 32px;
    color: white;
  }
}
.body-cart{
  max-width: 900px;
  margin: auto;
  .infor-cart-item-left{
    display: flex;
    align-items: center;
  }
  .list-course-item{
    padding-right: 20px !important;
    justify-content: space-between;
    align-items: center;
    .icon-course-avatar{
      width: 130px;
    }
  }
  .name-course{
    width: initial !important;
    h6{
      margin-bottom: 0;
    }
  }
  .price-cart{
    float: right;
    text-align: right;
    display: flex;
    justify-content: right;
    b{
      font-size: 32px;
      color: $brand;
    }
  }
}
.title-cart{
  display: inline-block;
  width: 100%;
  margin: 30px 0 20px 0;
  b{
    text-transform: uppercase;
    font-size: 18px;
    color: $text;
  }
}
.box-option-payment{
  background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
border-radius: 8px;
padding: 20px;
display: inline-block;
width: 100%;
.item-paymented{
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid $border;
  padding-bottom: 20px;
  img{
    display: inline-block;
    margin-right: 7px;
    &:nth-child(2){
      width: 48px;
    }
  }
  span{
    color: $text80;
  }
}
}
.button-action-pay{
  display: inline-block;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  button{
    background: none;
    @include button();
    margin: auto;
  }
}
.content-filed-price{
  position: relative;
  padding-left: 70px;
  img{
    position: absolute;
    left: 0;
    top: 10px;
    width: 40px;
  }
  .infor-filed-price-happy{
    i{
      color: $brand;
      display: inline-block;
      width: 100%;
    }
    input{
      border: 2px solid $border;
      height: 40px;
      border-radius: 8px;
      padding: 4px 15px;
      width: 100%;
      &::placeholder{
        color: $placeholder;
      }
      &:focus, &:focus-visible{
        border-color: $brand !important;
      }
    }
  }
  
}
.price-optional{
  max-width: 300px;
}
.page-404{
  
  padding: 50px;
  max-width: 700px;
  margin: auto;
  margin-top: 70px;
  img{
    max-width: 350px;
    width: 100%;
  }
  label{
    font-size: 32px;
    display: inline-block;
    width: 100%;
    color: $brand !important;
  }
  p{
    display: inline-block;
    width: 100%;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
    span{
      width: initial !important;
      display:initial !important;
      color: $brand !important;
    }
  }
}
.box-infor-contact{
  background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
border-radius: 8px;
padding: 20px;
display: inline-block;
width: 100%;
margin-top: 20px;
}
.right-contact{
  background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
border-radius: 8px;
padding: 20px;
display: inline-block;
width: 100%;
margin-top: 20px;
}
.thumbnail-contact{
  display: inline-block;
  width: 100%;
  img{
    display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  }
}
.list-infor-contact{
  display:inline-block;
  width: 100%;
  p{
    display:inline-block;
  width: 100%;
  position: relative;
  padding-left: 70px;
  img{
    position: absolute;
    left: 20px;
    top: 2px;
  }
  a{
    width: 100%;
    font-size: 18px;
    color: $text;
  }
  &:nth-child(1){
    a{
      color: $brand;
      font-size: 24px;
    }
  }
  }
}
.content-contact{
  min-height: 80vh;
}
.mb-50{
  margin-bottom: 50px;
}