@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0; }

body {
  font-size: 16px;
  min-height: 100vh;
  width: 100%;
  font-family: 'Questrial', sans-serif;
  background: linear-gradient(147deg, #D9F1E9 0%, #E5F4EB 13.07%, #F4F8FB 30.87%, #E7F5E5 63.54%, #CAF4E2 78.28%, #E4F8F1 100%); }

.nav-bottom {
  position: absolute;
  bottom: 100px;
  padding: 20px;
  width: 100%;
  display: inline-block; }
  .nav-bottom ul li {
    list-style: none; }

.search-sidebar {
  position: relative;
  padding: 0 20px;
  display: inline-block;
  width: 100%; }
  .search-sidebar__content {
    border-radius: 100px;
    height: 50px;
    display: inline-block;
    width: 100%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    padding-left: 47px;
    padding-right: 18px; }
    .search-sidebar__content img {
      position: absolute;
      left: 35px;
      top: 13px; }
    .search-sidebar__content input {
      background: none;
      width: 100%;
      height: 45px;
      color: white;
      outline: none;
      border: 0; }
      .search-sidebar__content input::placeholder {
        color: white;
        opacity: .4; }

.content-main-popup p {
  display: inline-block;
  width: 100%;
  margin-top: 15px; }
  .content-main-popup p a {
    color: #1BBFA3;
    margin-left: 10px; }
.content-main-popup form label {
  color: #7A8087; }
.content-main-popup form input, .content-main-popup form textarea {
  height: 45px;
  background: white;
  padding: 0 20px;
  border-radius: 8px;
  border: 2px solid #D7D7D7; }
  .content-main-popup form input::placeholder, .content-main-popup form textarea::placeholder {
    color: #BDBDBD; }
  .content-main-popup form input:focus, .content-main-popup form textarea:focus {
    border-color: #1BBFA3; }
.content-main-popup form textarea {
  height: 173px;
  width: 100%;
  padding: 20px 15px; }

.btn-login {
  display: flex;
  height: 50px;
  align-items: center; }

.mt20 {
  margin-top: 20px !important; }

.btn-login-popup {
  display: inline-block;
  width: 100%; }
  .btn-login-popup button {
    height: 52px;
    background: #1BBFA3;
    width: 100%;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    margin-bottom: 0px;
    text-align: center;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    border: 1px solid #1BBFA3;
    align-items: center; }
    .btn-login-popup button:nth-child(2) {
      background: white;
      color: #1BBFA3;
      text-transform: none;
      display: flex;
      border: 2px solid #1BBFA3;
      margin-bottom: 0; }
      .btn-login-popup button:nth-child(2):hover {
        background: #1BBFA3;
        border: 1px solid #1BBFA3;
        color: white !important; }
    .btn-login-popup button:hover {
      background: #1ADEBD;
      border: 1px solid #1ADEBD; }

.forget-pw {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 15px; }
  .forget-pw a {
    color: #7A8087;
    text-decoration: none; }
    .forget-pw a:hover {
      color: #1BBFA3; }

.button-start-course {
  position: absolute;
  right: 20px;
  top: 0px;
  width: 260px;
  height: 100%;
  display: flex;
  align-items: center; }
  .button-start-course a {
    height: 55px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    width: 100%;
    padding: 0 20px;
    color: #1BBFA3;
    text-decoration: none;
    background: white;
    justify-content: center; }
    .button-start-course a b {
      font-size: 20px;
      margin-right: 5px; }
    .button-start-course a.disable-registration {
      pointer-events: none;
      opacity: .4;
      color: #c4c4c4;
      cursor: not-allowed; }

.expense-box {
  float: left;
  margin-left: 20px; }
  .expense-box p {
    display: flex;
    align-items: center;
    width: 100%; }
    .expense-box p i {
      display: flex;
      background: #1ADEBD;
      height: 23px;
      border-radius: 4px;
      padding: 0 7px;
      color: white;
      align-items: center;
      width: fit-content;
      font-style: normal; }
  .expense-box span {
    font-size: 13px;
    color: white;
    display: inline-block;
    width: 100%; }
  .expense-box b {
    font-size: 26px;
    display: inline-block;
    width: 100%;
    color: white; }
  .expense-box i {
    color: white; }
  .expense-box label {
    color: white;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    margin: 5px 5px 0 0;
    text-decoration: line-through; }

.countdown-otp {
  display: inline-block;
  width: 100%;
  text-align: center; }
  .countdown-otp span {
    font-size: 22px;
    font-weight: bold;
    color: #1BBFA3; }

.des-phone-otp {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px; }

.des-phone-otp b {
  color: #1BBFA3; }

.otp-input-fields {
  margin: auto;
  width: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0px; }
  .otp-input-fields input {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #D7D7D7;
    text-align: center;
    padding: 0 !important;
    outline: none;
    color: #1BBFA3 !important;
    font-size: 18px !important;
    /* Firefox */ }
    .otp-input-fields input::-webkit-outer-spin-button, .otp-input-fields input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .otp-input-fields input[type=number] {
      -moz-appearance: textfield; }
    .otp-input-fields input:focus {
      border-width: 4px;
      border: solid 2px #1BBFA3;
      font-size: 20px; }

.digi-body {
  padding-left: 300px;
  position: relative; }
  .digi-body__menu {
    width: 300px;
    position: fixed;
    left: 0;
    height: 100%;
    top: 0; }
    .digi-body__menu #sideNav,
    .digi-body__menu .site-footer .max-width,
    .digi-body__menu .view-filters,
    .digi-body__menu .contextual-bg,
    .digi-body__menu .block-system .js-form-type-search input.form-search {
      background-image: linear-gradient(to bottom, #34D8B9, #1BBEA2, #16A28E, #0E7069, #053840);
      background-size: 1200% 1200%;
      -webkit-animation: Grad-all 6s ease infinite;
      -moz-animation: Grad-all 6s ease infinite;
      animation: Grad-all 6s ease infinite; }
    .digi-body__menu .contextual-color,
    .digi-body__menu a.neutral-link:hover,
    .digi-body__menu a.neutral-link:active,
    .digi-body__menu a.bef-link--selected,
    .digi-body__menu .node__content a:hover,
    .digi-body__menu .page-link,
    .digi-body__menu .path-search strong,
    .digi-body__menu .checkbox .form-checkbox[checked="checked"] + label {
      color: #21B9A6;
      border-color: #21B9A6; }
    .digi-body__menu .grad-event #sideNav,
    .digi-body__menu .grad-event .contextual-bg,
    .digi-body__menu .grad-event .view-filters,
    .digi-body__menu .bg-event,
    .digi-body__menu .bg-1,
    .digi-body__menu .grad-event .site-footer .max-width {
      background-image: linear-gradient(to bottom, #053840, #0E7069, #16A28E, #1BBEA2, #34D8B9);
      background-size: 200% 200%;
      -webkit-animation: Grad-2 6s ease infinite;
      -moz-animation: Grad-2 8s ease infinite;
      animation: Grad-2 8s ease infinite; }
    .digi-body__menu .grad-event .contextual-color,
    .digi-body__menu .grad-event .bef-link--selected,
    .digi-body__menu .grad-event a.neutral-link:hover,
    .digi-body__menu .grad-event a.neutral-link:active,
    .digi-body__menu .grad-event .node__content a:hover,
    .digi-body__menu .grad-event .checkbox .form-checkbox[checked="checked"] + label {
      color: #000;
      border-color: #000; }
    .digi-body__menu .grad-publication .contextual-bg,
    .digi-body__menu .bg-publication,
    .digi-body__menu .grad-publication .bef-link--selected,
    .digi-body__menu .grad-publication .view-filters,
    .digi-body__menu .grad-publication #sideNav,
    .digi-body__menu .grad-publication .site-footer .max-width {
      background: linear-gradient(179deg, #053840, #55AFA4);
      background-size: 400% 400%;
      -webkit-animation: Grad-2 6s ease infinite;
      -moz-animation: Grad-2 8s ease infinite;
      animation: Grad-2 8s ease infinite; }
    .digi-body__menu .grad-publication .contextual-color,
    .digi-body__menu .grad-publication a.neutral-link:hover,
    .digi-body__menu .grad-publication a.neutral-link:active,
    .digi-body__menu .grad-publication .node__content a:hover,
    .digi-body__menu .grad-publication .checkbox .form-checkbox[checked="checked"] + label {
      color: #148F80;
      border-color: #148F80; }
    .digi-body__menu .grad-formation .contextual-bg,
    .digi-body__menu .bg-formation,
    .digi-body__menu .bg-3,
    .digi-body__menu .grad-formation .view-filters,
    .digi-body__menu .grad-formation #sideNav,
    .digi-body__menu .grad-formation .site-footer .max-width {
      background: linear-gradient(179deg, #148F80, #21B9A6);
      background-size: 400% 400%;
      -webkit-animation: Grad-2 8s ease infinite;
      -moz-animation: Grad-2 8s ease infinite;
      animation: Grad-2 8s ease infinite; }
    .digi-body__menu .grad-formation .contextual-color,
    .digi-body__menu .grad-formation .bef-link--selected,
    .digi-body__menu .grad-formation a.neutral-link:hover,
    .digi-body__menu .grad-formation a.neutral-link:active,
    .digi-body__menu .grad-formation .node__content a:hover,
    .digi-body__menu .grad-formation .checkbox .form-checkbox[checked="checked"] + label {
      color: #004592;
      border-color: #004592; }
    .digi-body__menu .grad-recherche .contextual-bg,
    .digi-body__menu .grad-recherche #sideNav,
    .digi-body__menu .grad-recherche .view-filters,
    .digi-body__menu .bg-recherche,
    .digi-body__menu .bg-2,
    .digi-body__menu .grad-recherche .site-footer .max-width {
      background-image: linear-gradient(to bottom, #34D8B9, #1BBEA2, #16A28E, #0E7069, #053840);
      background-size: 400% 400%;
      -webkit-animation: Grad-2 6s ease infinite;
      -moz-animation: Grad-2 6s ease infinite;
      animation: Grad-2 6s ease infinite; }
    .digi-body__menu .grad-recherche .contextual-color,
    .digi-body__menu .grad-recherche a.neutral-link:hover,
    .digi-body__menu .grad-recherche a.neutral-link:active,
    .digi-body__menu .grad-recherche .node__content a:hover,
    .digi-body__menu .grad-recherche .checkbox .form-checkbox[checked="checked"] + label {
      color: #000;
      border-color: #000; }
    .digi-body__menu .grad-personne .contextual-bg,
    .digi-body__menu .grad-personne #sideNav,
    .digi-body__menu .bg-personne,
    .digi-body__menu .grad-personne .site-footer .max-width,
    .digi-body__menu .grad-personne .view-filters {
      background: linear-gradient(180deg, #8496cc, #605099);
      background-size: 400% 400%;
      -webkit-animation: Grad-2 6s ease infinite;
      -moz-animation: Grad-2 6s ease infinite;
      animation: Grad-2 6s ease infinite; }
    .digi-body__menu .grad-personne .contextual-color,
    .digi-body__menu .grad-personne a.neutral-link:hover,
    .digi-body__menu .grad-personne a.neutral-link:active,
    .digi-body__menu .grad-personne .node__content a:hover,
    .digi-body__menu .grad-personne .checkbox .form-checkbox[checked="checked"] + label {
      color: #605099;
      border-color: #605099; }
    .digi-body__menu .thm-item a,
    .digi-body__menu .grad-thematique .contextual-bg,
    .digi-body__menu .grad-thematique #sideNav,
    .digi-body__menu .bg-thematique,
    .digi-body__menu .grad-thematique .site-footer .max-width {
      background: linear-gradient(179deg, #5f9cb7, #628d7b);
      background-size: 400% 400%;
      -webkit-animation: Grad-2 6s ease infinite;
      -moz-animation: Grad-2 6s ease infinite;
      animation: Grad-2 6s ease infinite; }
    .digi-body__menu .logo-mb {
      display: none; }
    .digi-body__menu .grad-thematique .contextual-color,
    .digi-body__menu .grad-thematique a.neutral-link:hover,
    .digi-body__menu .grad-thematique a.neutral-link:active,
    .digi-body__menu .grad-thematique .node__content a:hover,
    .digi-body__menu .grad-thematique .checkbox .form-checkbox[checked="checked"] + label {
      color: #5f9cb7;
      border-color: #5f9cb7; }
    .digi-body__menu .nobg {
      background: none !important; }
@-webkit-keyframes Grad-all {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@-moz-keyframes Grad-all {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@keyframes Grad-all {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@-webkit-keyframes Grad-2 {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@-moz-keyframes Grad-2 {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@keyframes Grad-2 {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
  .digi-body__content {
    display: block;
    width: 100%;
    max-width: 1360px;
    padding: 30px;
    margin: auto; }
    .digi-body__content .about-digime {
      position: relative;
      padding-left: 250px; }
      .digi-body__content .about-digime img {
        position: absolute;
        left: 0;
        top: 0;
        width: 210px; }

.box-course {
  display: inline-block;
  width: 100%; }

.list-course-item {
  position: relative;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  float: left;
  width: 100%;
  padding-right: 205px;
  margin-top: 30px;
  display: flex;
  min-height: 140px; }
  .list-course-item .cate-design {
    position: absolute;
    left: 0;
    top: 0;
    width: 61px; }

.course-section {
  padding: 50px 0; }

.box-course-first {
  float: left;
  position: relative;
  width: 100%;
  padding: 0 315px 0 345px; }
  .box-course-first .coursefor {
    float: left;
    width: initial; }
    .box-course-first .coursefor b, .box-course-first .coursefor p {
      color: white; }
    .box-course-first .coursefor b {
      font-size: 13px;
      margin-bottom: 10px;
      display: inline-block;
      width: 100%; }

.loader {
  border: 10px solid #f3f3f357;
  border-radius: 50%;
  border-top: 10px solid white;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto; }

.box-loading {
  position: relative;
  padding-left: 80px;
  margin-left: 30px; }
  .box-loading .loader {
    width: 70px;
    position: absolute;
    left: 0;
    top: 0; }
  .box-loading b {
    font-size: 32px;
    display: inline-block;
    width: 100%;
    color: white;
    line-height: 37px;
    margin-top: 4px; }
  .box-loading span {
    font-size: 16px;
    color: white; }

.price-courseVideo {
  display: inline-block;
  width: 100%; }
  .price-courseVideo b {
    font-size: 40px;
    color: #2A2F2D; }
  .price-courseVideo p {
    display: flex;
    align-items: center;
    width: 100%; }
    .price-courseVideo p span {
      text-decoration: line-through;
      font-size: 18px;
      color: #7A8087;
      margin-right: 10px; }
    .price-courseVideo p i {
      height: 22px;
      color: white;
      display: inline-block;
      border-radius: 4px;
      background: #1BBFA3;
      font-size: 16px;
      font-style: normal;
      padding: 0 5px;
      display: flex;
      align-items: center; }

.title-section {
  display: inline-block;
  width: 100%; }
  .title-section b {
    font-size: 44px;
    color: #053840;
    display: inline-block;
    width: 100%; }
  .title-section p {
    margin-left: -10px;
    margin-right: -10px; }
    .title-section p span:nth-last-child(1) {
      border-right: 0 !important; }
  .title-section span {
    font-size: 14px;
    display: inline-block;
    color: #7A8087;
    padding: 0 10px;
    border-right: 1px solid #D7D7D7; }
    .title-section span i {
      font-size: 16px;
      font-style: normal;
      color: #2A2F2D; }

.slidebar-menu {
  width: 300px;
  position: fixed;
  left: 0;
  height: 100%;
  top: 0; }

.box-course-first {
  background: linear-gradient(90.82deg, #1BBFA3 1.83%, #138A7C 67.57%);
  border-radius: 8px;
  width: 100%;
  min-height: 142px;
  display: flex;
  align-items: center; }

.name-course {
  padding-right: 20px;
  width: 30%; }

.button-action-course {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
  width: 205px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 20px; }
  .button-action-course a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding: 0 20px;
    background: #1BBFA3;
    color: white;
    border-radius: 100px;
    width: 100%;
    text-decoration: none; }
    .button-action-course a span {
      color: white; }
    .button-action-course a:hover {
      background: #1ADEBD; }

.benefit-for-you {
  display: inline-block;
  width: 100%;
  padding-top: 30px; }

.content-benefit {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  position: relative;
  text-align: center; }
  .content-benefit p {
    text-align: left;
    width: 100%;
    max-width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    color: #7A8087; }
    .content-benefit p b {
      text-transform: uppercase;
      color: #1BBFA3;
      margin-bottom: 5px;
      font-size: 20px;
      display: inline-block;
      width: 100%; }
    .content-benefit p:nth-child(1) {
      right: 16%;
      position: absolute;
      top: 69px; }
    .content-benefit p:nth-child(2) {
      left: 8%;
      position: absolute;
      top: 215px; }
    .content-benefit p:nth-child(3) {
      right: 22%;
      position: absolute;
      top: 270px; }
    .content-benefit p:nth-child(4) {
      left: 14%;
      position: absolute;
      top: 395px; }
  .content-benefit img {
    width: 700px;
    margin: auto; }

footer #sideNav,
footer .site-footer .max-width,
footer .view-filters,
footer .contextual-bg,
footer .block-system .js-form-type-search input.form-search {
  background-image: linear-gradient(to bottom, #34D8B9, #1BBEA2, #16A28E, #0E7069, #053840);
  background-size: 1200% 1200%;
  -webkit-animation: Grad-all 6s ease infinite;
  -moz-animation: Grad-all 6s ease infinite;
  animation: Grad-all 6s ease infinite; }
footer .contextual-color,
footer a.neutral-link:hover,
footer a.neutral-link:active,
footer a.bef-link--selected,
footer .node__content a:hover,
footer .page-link,
footer .path-search strong,
footer .checkbox .form-checkbox[checked="checked"] + label {
  color: #21B9A6;
  border-color: #21B9A6; }
footer .grad-event #sideNav,
footer .grad-event .contextual-bg,
footer .grad-event .view-filters,
footer .bg-event,
footer .bg-1,
footer .grad-event .site-footer .max-width {
  background-image: linear-gradient(to bottom, #053840, #0E7069, #16A28E, #1BBEA2, #34D8B9);
  background-size: 200% 200%;
  -webkit-animation: Grad-2 6s ease infinite;
  -moz-animation: Grad-2 8s ease infinite;
  animation: Grad-2 8s ease infinite; }
footer .grad-event .contextual-color,
footer .grad-event .bef-link--selected,
footer .grad-event a.neutral-link:hover,
footer .grad-event a.neutral-link:active,
footer .grad-event .node__content a:hover,
footer .grad-event .checkbox .form-checkbox[checked="checked"] + label {
  color: #000;
  border-color: #000; }
footer .grad-publication .contextual-bg,
footer .bg-publication,
footer .grad-publication .bef-link--selected,
footer .grad-publication .view-filters,
footer .grad-publication #sideNav,
footer .grad-publication .site-footer .max-width {
  background: linear-gradient(179deg, #053840, #55AFA4);
  background-size: 400% 400%;
  -webkit-animation: Grad-2 6s ease infinite;
  -moz-animation: Grad-2 8s ease infinite;
  animation: Grad-2 8s ease infinite; }
footer .grad-publication .contextual-color,
footer .grad-publication a.neutral-link:hover,
footer .grad-publication a.neutral-link:active,
footer .grad-publication .node__content a:hover,
footer .grad-publication .checkbox .form-checkbox[checked="checked"] + label {
  color: #148F80;
  border-color: #148F80; }
footer .grad-formation .contextual-bg,
footer .bg-formation,
footer .bg-3,
footer .grad-formation .view-filters,
footer .grad-formation #sideNav,
footer .grad-formation .site-footer .max-width {
  background: linear-gradient(179deg, #148F80, #21B9A6);
  background-size: 400% 400%;
  -webkit-animation: Grad-2 8s ease infinite;
  -moz-animation: Grad-2 8s ease infinite;
  animation: Grad-2 8s ease infinite; }
footer .grad-formation .contextual-color,
footer .grad-formation .bef-link--selected,
footer .grad-formation a.neutral-link:hover,
footer .grad-formation a.neutral-link:active,
footer .grad-formation .node__content a:hover,
footer .grad-formation .checkbox .form-checkbox[checked="checked"] + label {
  color: #004592;
  border-color: #004592; }
footer .grad-recherche .contextual-bg,
footer .grad-recherche #sideNav,
footer .grad-recherche .view-filters,
footer .bg-recherche,
footer .bg-2,
footer .grad-recherche .site-footer .max-width {
  background-image: linear-gradient(to bottom, #34D8B9, #1BBEA2, #16A28E, #0E7069, #053840);
  background-size: 400% 400%;
  -webkit-animation: Grad-2 6s ease infinite;
  -moz-animation: Grad-2 6s ease infinite;
  animation: Grad-2 6s ease infinite; }
footer .grad-recherche .contextual-color,
footer .grad-recherche a.neutral-link:hover,
footer .grad-recherche a.neutral-link:active,
footer .grad-recherche .node__content a:hover,
footer .grad-recherche .checkbox .form-checkbox[checked="checked"] + label {
  color: #000;
  border-color: #000; }
footer .grad-personne .contextual-bg,
footer .grad-personne #sideNav,
footer .bg-personne,
footer .grad-personne .site-footer .max-width,
footer .grad-personne .view-filters {
  background: linear-gradient(180deg, #8496cc, #605099);
  background-size: 400% 400%;
  -webkit-animation: Grad-2 6s ease infinite;
  -moz-animation: Grad-2 6s ease infinite;
  animation: Grad-2 6s ease infinite; }
footer .grad-personne .contextual-color,
footer .grad-personne a.neutral-link:hover,
footer .grad-personne a.neutral-link:active,
footer .grad-personne .node__content a:hover,
footer .grad-personne .checkbox .form-checkbox[checked="checked"] + label {
  color: #605099;
  border-color: #605099; }
footer .thm-item a,
footer .grad-thematique .contextual-bg,
footer .grad-thematique #sideNav,
footer .bg-thematique,
footer .grad-thematique .site-footer .max-width {
  background: linear-gradient(179deg, #5f9cb7, #628d7b);
  background-size: 400% 400%;
  -webkit-animation: Grad-2 6s ease infinite;
  -moz-animation: Grad-2 6s ease infinite;
  animation: Grad-2 6s ease infinite; }
footer .logo-mb {
  display: none; }
footer .grad-thematique .contextual-color,
footer .grad-thematique a.neutral-link:hover,
footer .grad-thematique a.neutral-link:active,
footer .grad-thematique .node__content a:hover,
footer .grad-thematique .checkbox .form-checkbox[checked="checked"] + label {
  color: #5f9cb7;
  border-color: #5f9cb7; }
footer .nobg {
  background: none !important; }
@-webkit-keyframes Grad-all {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@-moz-keyframes Grad-all {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@keyframes Grad-all {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@-webkit-keyframes Grad-2 {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@-moz-keyframes Grad-2 {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@keyframes Grad-2 {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
.cate-course {
  display: inline-block;
  width: 100%; }
  .cate-course .col-md-3 .item-cate-course {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 30px 20px; }
    .cate-course .col-md-3 .item-cate-course a {
      display: inline-block;
      width: 100%; }
      .cate-course .col-md-3 .item-cate-course a img {
        width: 48px; }
    .cate-course .col-md-3 .item-cate-course h4 {
      display: inline-block;
      width: 100%;
      margin-top: 5px; }
      .cate-course .col-md-3 .item-cate-course h4 a {
        font-size: 18px;
        color: white; }
  .cate-course .col-md-3:nth-child(1) .item-cate-course {
    background: linear-gradient(90deg, #02AAB0 0%, #00CDAC 100%);
    border-radius: 8px; }
  .cate-course .col-md-3:nth-child(2) .item-cate-course {
    background: linear-gradient(60deg, #2AC4A7 13.4%, #0EBEA0 86.6%);
    border-radius: 8px; }
  .cate-course .col-md-3:nth-child(3) .item-cate-course {
    background: linear-gradient(60deg, #2ADDBB 13.4%, #19B299 86.6%);
    border-radius: 8px; }
  .cate-course .col-md-3:nth-child(4) .item-cate-course {
    background: linear-gradient(253.25deg, #1BBFA3 13.87%, #13897B 100%);
    border-radius: 8px; }

.coursefor {
  width: 20%;
  padding: 20px; }
  .coursefor b {
    font-size: 13px; }
  .coursefor p {
    margin-bottom: 0; }

.benefit-course {
  width: 49%;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .benefit-course ul {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 25px; }
    .benefit-course ul li p {
      padding-bottom: 5px;
      margin-bottom: 0; }

.benefit-course {
  position: relative;
  display: flex;
  justify-content: space-between; }

.logo {
  padding: 20px;
  display: inline-block;
  width: 100%; }

.menu-nav {
  margin-top: 20%; }
  .menu-nav ul {
    padding: 20px; }
    .menu-nav ul li {
      list-style: none;
      margin-bottom: 15px; }
      .menu-nav ul li a {
        height: 48px;
        padding: 4px 45px;
        border-radius: 100px;
        color: #1BBFA3;
        text-decoration: none;
        display: flex;
        align-items: center;
        width: fit-content;
        font-size: 20px;
        background: rgba(255, 255, 255, 0.8); }
        .menu-nav ul li a:hover, .menu-nav ul li a.active {
          background: white;
          color: #1BBFA3; }

.icon-course-avatar {
  float: left;
  width: 12%;
  padding: 0 20px 0 30px; }
  .icon-course-avatar img {
    width: 100%; }

.name-course {
  float: left;
  width: 30%; }
  .name-course h6 a {
    font-size: 26px;
    text-decoration: none;
    color: #2A2F2D; }
  .name-course i {
    font-style: italic;
    color: #1BBFA3; }

.coursefor {
  float: left;
  width: 15%; }
  .coursefor p {
    color: #1BBFA3; }

.benefit-course {
  float: left;
  width: 44%; }

.nav-bottom ul li {
  padding: 10px 0; }
  .nav-bottom ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none; }
    .nav-bottom ul li a:hover {
      color: #1ADEBD; }

.footer-body {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.footer-content {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  align-items: center;
  padding: 20px 30px; }

footer {
  margin-top: 30px; }

.menu-footer {
  text-align: right;
  max-width: 240px; }
  .menu-footer a {
    display: inline-block;
    width: 100%;
    text-align: left;
    color: white;
    font-size: 14px; }

.infor-footer b, .infor-footer p, .infor-footer a {
  color: white;
  font-size: 14px; }
.infor-footer p {
  margin-bottom: 0; }
.infor-footer a {
  margin-right: 10px; }
.infor-footer img {
  margin-top: 10px; }

.infor-company {
  position: relative;
  padding-left: 150px; }
  .infor-company img.logo-footer {
    position: absolute;
    left: 0;
    top: 0;
    width: 110px; }

.pt0 {
  padding-top: 0 !important; }

.route-course {
  display: inline-block;
  margin: 15px 0;
  width: 100%; }
  .route-course img {
    width: 100%; }

.filter-course {
  display: inline-block;
  width: 100%; }
  .filter-course .item-filter {
    display: inline-block;
    width: 100%; }
    .filter-course .item-filter span {
      display: inline-block;
      width: 100%;
      font-size: 14px;
      color: #7A8087; }
    .filter-course .item-filter a {
      height: 40px;
      padding: 0 20px;
      border: 2px solid #D7D7D7;
      border-radius: 100px;
      display: flex;
      align-items: center;
      float: left;
      margin-top: 10px;
      font-size: 14px;
      width: fit-content;
      text-decoration: none;
      background: white;
      margin-right: 10px;
      color: #7A8087; }
      .filter-course .item-filter a:hover, .filter-course .item-filter a:focus {
        border-color: #1BBFA3;
        color: #1BBFA3; }
      .filter-course .item-filter a.active {
        background: #1BBFA3;
        border-color: #1BBFA3;
        color: white; }

.logged {
  display: flex;
  display: none;
  cursor: pointer;
  justify-content: space-between;
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  padding-top: 15px; }
  .logged .infor-myacc {
    display: flex;
    align-items: center; }
    .logged .infor-myacc img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      background: white;
      border-radius: 100px;
      margin-right: 10px;
      border: 2px solid #FFFFFF;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.06); }
  .logged .infor-account {
    display: inline-block;
    width: 100%; }
    .logged .infor-account span {
      font-size: 13px;
      display: inline-block;
      color: white;
      width: 100%; }
    .logged .infor-account b {
      display: inline-block;
      width: 100%;
      color: white; }
  .logged:hover .sub-acc-hover {
    visibility: inherit;
    bottom: 81px; }

.acc-sidebar {
  position: absolute;
  bottom: 0px;
  padding: 20px;
  left: 0;
  width: 100%; }
  .acc-sidebar .unlogged {
    align-items: center;
    display: flex; }
    .acc-sidebar .unlogged a {
      color: white;
      font-size: 14px;
      text-decoration: none; }
    .acc-sidebar .unlogged .registration a {
      margin-right: 15px;
      height: 45px;
      display: flex;
      width: max-content;
      align-items: center;
      font-size: 14px;
      color: white;
      padding: 0 20px;
      border-radius: 100px;
      border: 1px solid white; }
      .acc-sidebar .unlogged .registration a:hover {
        background: #1ADEBD;
        color: white;
        border-color: #1ADEBD; }

.sub-acc-hover {
  position: absolute;
  bottom: -100px;
  left: 20px;
  width: 260px;
  border-radius: 8px;
  background: white;
  visibility: hidden; }
  .sub-acc-hover .content-sub-acc-hover {
    display: inline-block;
    padding: 0 20px;
    width: 100%; }
    .sub-acc-hover .content-sub-acc-hover a {
      height: 60px;
      display: flex;
      align-items: center;
      text-decoration: none;
      width: 100%;
      border-bottom: 1px solid #D7D7D7;
      color: #7A8087; }
      .sub-acc-hover .content-sub-acc-hover a img {
        width: 25px;
        margin-right: 12px; }
      .sub-acc-hover .content-sub-acc-hover a:nth-last-child(1) {
        margin-top: 40px;
        border-bottom: 0 !important; }
      .sub-acc-hover .content-sub-acc-hover a:hover {
        opacity: .7; }

.editor-course-body {
  display: inline-block;
  min-height: 600px;
  width: 100%; }

.description-first {
  display: inline-block;
  width: 100%;
  padding: 30px 0; }
  .description-first p {
    margin-bottom: 0; }

.checklist-curriculum {
  display: inline-block;
  width: 100%;
  padding: 25px;
  background: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding-top: 5px;
  margin-top: 20px;
  padding-bottom: 5px; }
  .checklist-curriculum .item-curriculum {
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #E5E7E8;
    padding: 15px 0; }
    .checklist-curriculum .item-curriculum__title {
      display: flex;
      cursor: pointer;
      align-items: center;
      width: 100%;
      justify-content: space-between; }
      .checklist-curriculum .item-curriculum__title b {
        font-size: 20px; }
      .checklist-curriculum .item-curriculum__title span {
        font-size: 16px;
        cursor: pointer;
        color: #7A8087; }
        .checklist-curriculum .item-curriculum__title span img {
          margin-left: 20px; }
    .checklist-curriculum .item-curriculum__description {
      display: inline-block;
      width: 100%;
      display: none; }
      .checklist-curriculum .item-curriculum__description ul {
        margin-bottom: 0;
        padding: 20px 0;
        padding-left: 25px;
        display: inline-block;
        width: 100%;
        padding-bottom: 0; }
        .checklist-curriculum .item-curriculum__description ul li {
          display: inline-block;
          width: 100%;
          position: relative;
          padding-left: 37px; }
          .checklist-curriculum .item-curriculum__description ul li img {
            position: absolute;
            left: 0;
            top: 0; }
          .checklist-curriculum .item-curriculum__description ul li p {
            display: inline-block;
            width: 100%;
            font-size: 16px;
            text-align: justify;
            color: #7A8087;
            line-height: 28px; }
    .checklist-curriculum .item-curriculum.active {
      border-color: #1BBFA3; }
      .checklist-curriculum .item-curriculum.active .item-curriculum__description {
        display: inline-block !important; }
    .checklist-curriculum .item-curriculum:nth-last-child(1) {
      border-bottom: 0 !important; }

.curriculum {
  display: inline-block;
  width: 100%; }

.title-curriculum {
  display: inline-block;
  width: 100%; }
  .title-curriculum b {
    margin-bottom: 0px;
    font-size: 28px;
    display: inline-block;
    width: 100%; }

.countdown-box {
  position: absolute;
  left: 0;
  top: 20px; }
  .countdown-box ul li {
    text-align: center;
    color: white;
    font-size: 12px;
    display: inline-block;
    min-width: 78px;
    position: relative;
    margin-top: 10px; }
    .countdown-box ul li::after {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: white;
      display: inline-block;
      content: '';
      position: absolute;
      right: -4px;
      top: 12%; }
    .countdown-box ul li::before {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: white;
      display: inline-block;
      content: '';
      position: absolute;
      right: -4px;
      top: 37%; }
    .countdown-box ul li span {
      font-size: 40px;
      display: inline-block;
      color: white;
      width: 100%;
      line-height: 28px; }
    .countdown-box ul li:nth-last-child(1)::after, .countdown-box ul li:nth-last-child(1)::before {
      display: none; }
  .countdown-box b {
    display: inline-block;
    width: 100%;
    color: white;
    padding: 0 20px; }

.popup-body {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden; }
  .popup-body .content-popup {
    background: white;
    width: 100%;
    position: relative;
    max-width: 373px;
    border-radius: 8px;
    padding: 15px 40px 30px 40px; }
  .popup-body.active {
    opacity: 1;
    visibility: initial; }

.title-popup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px; }
  .title-popup span {
    font-size: 28px; }
  .title-popup img {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer; }

.button-component {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 27px;
  background: #1BBFA3;
  color: white;
  border-radius: 100px;
  width: fit-content; }
  .button-component i, .button-component span {
    color: white; }
  .button-component span {
    margin-left: 3px; }
  .button-component:hover {
    color: white;
    text-decoration: none;
    background: #1ADEBD; }
    .button-component:hover i, .button-component:hover span, .button-component:hover b {
      color: white;
      text-decoration: none; }

.box-benefit-right, .title-box-right {
  display: inline-block;
  width: 100%; }

.box-benefit-right {
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 20px;
  margin-top: 30px; }

.box-author-right {
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 20px 0;
  margin-top: 30px;
  padding-bottom: 0; }
  .box-author-right .title-box-right {
    padding: 0 20px; }
    .box-author-right .title-box-right b {
      text-transform: uppercase;
      color: #7A8087;
      font-size: 14px; }

.content-author {
  display: inline-block;
  width: 100%;
  padding: 20px;
  padding-bottom: 0; }

.author-share-box {
  max-width: 700px;
  margin: auto; }

.author-avatar {
  position: relative;
  padding-left: 100px;
  min-height: 108px; }
  .author-avatar img {
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 100px;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.06); }
  .author-avatar .infor-author b {
    font-size: 22px;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    margin-bottom: 4px; }
  .author-avatar .infor-author span {
    color: #7A8087; }

.continue-author {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #ECF1F5; }
  .continue-author a {
    display: flex;
    height: 60px;
    width: 100%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #1BBFA3; }
    .continue-author a img {
      margin-left: 5px; }

.description-author {
  display: inline-block;
  width: 100%; }
  .description-author p {
    margin-bottom: 0;
    font-size: 14px;
    color: #7A8087;
    line-height: 26px; }

.title-box-right b {
  text-transform: uppercase;
  color: #7A8087;
  font-size: 14px; }

.list-benefit-boxright {
  display: inline-block;
  width: 100%; }
  .list-benefit-boxright p {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 15px 0;
    padding-left: 35px;
    margin-bottom: 0; }
    .list-benefit-boxright p img {
      position: absolute;
      left: 0;
      top: 15px;
      width: 26px; }
    .list-benefit-boxright p span {
      display: inline-block;
      width: 100%;
      padding: 0; }

.disable-registration {
  font-size: 20px;
  color: white;
  opacity: .5;
  float: right;
  text-align: right;
  width: 100%; }

.video-about {
  display: inline-block;
  width: 100%; }
  .video-about img {
    width: 100%; }

.video-about {
  margin-top: 30px; }

.box-list-video-course {
  display: inline-block;
  margin-bottom: 30px;
  width: 100%; }

.clock-countdown {
  display: inline-block;
  width: 100%; }
  .clock-countdown .title-clock {
    display: flex;
    align-items: center; }
    .clock-countdown .title-clock img {
      margin-right: 5px; }
    .clock-countdown .title-clock span {
      color: #1BBFA3; }
  .clock-countdown ul {
    margin: 0;
    padding: 0; }
    .clock-countdown ul li {
      list-style: none;
      padding: 0;
      width: 25%;
      text-align: center;
      font-size: 13px;
      float: left;
      color: #7A8087; }
      .clock-countdown ul li span {
        font-size: 40px;
        color: #1BBFA3;
        display: inline-block;
        width: 100%; }

.item-box-list-video {
  position: relative;
  padding-right: 160px !important; }
  .item-box-list-video .infor-video-course b {
    font-size: 22px;
    display: inline-block;
    width: 100%; }
    .item-box-list-video .infor-video-course b a {
      color: #2A2F2D; }
  .item-box-list-video .infor-video-course span {
    color: #7A8087;
    display: inline-block;
    width: 100%;
    font-size: 14px; }
  .item-box-list-video img {
    margin-right: 20px;
    width: 130px; }

.item-box-list-video {
  display: flex;
  width: 100%;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  margin-top: 20px;
  align-items: center; }

.time-video {
  width: 120px;
  text-align: right;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: right; }
  .time-video i {
    color: #7A8087;
    font-style: normal; }

.btn-registration-course {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  padding-top: 0; }
  .btn-registration-course a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 27px;
    background: #1BBFA3;
    color: white;
    border-radius: 100px;
    width: fit-content;
    width: 100%;
    font-size: 20px; }
    .btn-registration-course a i, .btn-registration-course a span {
      color: white; }
    .btn-registration-course a span {
      margin-left: 3px; }
    .btn-registration-course a:hover {
      color: white;
      text-decoration: none;
      background: #1ADEBD; }
      .btn-registration-course a:hover i, .btn-registration-course a:hover span, .btn-registration-course a:hover b {
        color: white;
        text-decoration: none; }

.infor-des-course {
  display: inline-block;
  width: 100%;
  margin-top: 20px; }
  .infor-des-course p {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 30px; }
    .infor-des-course p img {
      position: absolute;
      left: 0;
      top: 0;
      width: 24px; }
    .infor-des-course p span {
      color: #7A8087; }
    .infor-des-course p label {
      text-transform: uppercase;
      margin-bottom: 0; }
    .infor-des-course p b {
      color: #1BBFA3;
      font-size: 18px; }
    .infor-des-course p:nth-last-child(1) {
      margin-bottom: 0; }

.list-video-course {
  display: inline-block;
  width: 100%; }
  .list-video-course img {
    width: 100%; }

.button-complete-course {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center; }
  .button-complete-course button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 27px;
    background: #1BBFA3;
    color: white;
    border-radius: 100px;
    width: fit-content;
    padding: 0 30px; }
    .button-complete-course button i, .button-complete-course button span {
      color: white; }
    .button-complete-course button span {
      margin-left: 3px; }
    .button-complete-course button:hover {
      color: white;
      text-decoration: none;
      background: #1ADEBD; }
      .button-complete-course button:hover i, .button-complete-course button:hover span, .button-complete-course button:hover b {
        color: white;
        text-decoration: none; }
    .button-complete-course button:disabled {
      background: #D7D7D7 !important; }

h2 {
  font-size: 26px;
  margin-bottom: 15px; }

h3 {
  font-size: 24px;
  margin-bottom: 15px; }

h4 {
  font-size: 22px;
  margin-bottom: 15px; }

h5 {
  font-size: 20px;
  margin-bottom: 15px; }

h6 {
  font-size: 18px;
  margin-bottom: 15px; }

.editor-infor-course-detail {
  display: inline-block;
  width: 100%;
  text-align: justify; }
  .editor-infor-course-detail h2 {
    font-size: 26px;
    margin-bottom: 15px; }
  .editor-infor-course-detail h3 {
    font-size: 24px;
    margin-bottom: 15px; }
  .editor-infor-course-detail h4 {
    font-size: 22px;
    margin-bottom: 15px; }
  .editor-infor-course-detail h5 {
    font-size: 20px;
    margin-bottom: 15px; }
  .editor-infor-course-detail h6 {
    font-size: 18px;
    margin-bottom: 15px; }
  .editor-infor-course-detail ul {
    padding-left: 25px;
    margin-bottom: 15px; }

.editor-infor-course-detail {
  margin-top: 20px; }

.list-file {
  padding: 20px;
  padding-bottom: 0; }
  .list-file p {
    display: inline-block;
    position: relative;
    padding-left: 30px; }
    .list-file p img {
      width: 20px;
      position: absolute;
      left: 0;
      top: 5px; }
    .list-file p span {
      color: #7A8087;
      line-height: 20px;
      font-size: 14px; }

.btn-excercises {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  margin-top: 10px;
  padding: 0 20px;
  padding-bottom: 20px; }
  .btn-excercises a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 27px;
    background: #1BBFA3;
    color: white;
    border-radius: 100px;
    width: fit-content; }
    .btn-excercises a i, .btn-excercises a span {
      color: white; }
    .btn-excercises a span {
      margin-left: 3px; }
    .btn-excercises a:hover {
      color: white;
      text-decoration: none;
      background: #1ADEBD; }
      .btn-excercises a:hover i, .btn-excercises a:hover span, .btn-excercises a:hover b {
        color: white;
        text-decoration: none; }

.blogs-large-first {
  display: inline-block;
  margin-top: 20px;
  width: 100%; }

.blogs-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px; }
  .blogs-item .avatar-blogs {
    display: inline-block;
    width: 100%;
    border-radius: 8px;
    overflow: hidden; }
    .blogs-item .avatar-blogs a {
      position: relative;
      padding-top: 57%;
      display: block; }
      .blogs-item .avatar-blogs a img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0; }
  .blogs-item.large h3 {
    margin-bottom: 15px; }
    .blogs-item.large h3 a {
      font-size: 40px; }

.infor-blogs {
  display: inline-block;
  width: 100%; }
  .infor-blogs .title-cate {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px; }
    .infor-blogs .title-cate a {
      color: #1BBFA3;
      font-size: 14px;
      text-decoration: none; }
    .infor-blogs .title-cate span {
      color: #7A8087;
      font-size: 14px; }
  .infor-blogs h3 a {
    font-size: 20px;
    color: #2A2F2D; }
  .infor-blogs p {
    color: #7A8087; }

.tab-cate-blogs {
  display: flex;
  margin: 30px 0 20px 0;
  width: 100%; }
  .tab-cate-blogs a {
    height: 35px;
    border-radius: 5px;
    border: 1px solid #cfdcd3;
    color: #7A8087;
    display: flex;
    text-decoration: none;
    margin-right: 15px;
    align-items: center;
    padding: 3px 15px; }
    .tab-cate-blogs a.active, .tab-cate-blogs a:hover {
      border-color: #1BBFA3;
      color: #1BBFA3;
      background: white; }

.blogs-list-all {
  display: inline-block;
  width: 100%; }
  .blogs-list-all .blogs-item {
    margin-bottom: 50px; }

.button-expand {
  margin: auto;
  width: fit-content; }
  .button-expand a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 27px;
    background: #1BBFA3;
    color: white;
    border-radius: 100px;
    width: fit-content; }
    .button-expand a i, .button-expand a span {
      color: white; }
    .button-expand a span {
      margin-left: 3px; }
    .button-expand a:hover {
      color: white;
      text-decoration: none;
      background: #1ADEBD; }
      .button-expand a:hover i, .button-expand a:hover span, .button-expand a:hover b {
        color: white;
        text-decoration: none; }
    .button-expand a img {
      margin-left: 5px; }

.account-digime {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  background: linear-gradient(147deg, #D9F1E9 0%, #E5F4EB 13.07%, #F4F8FB 30.87%, #E7F5E5 63.54%, #CAF4E2 78.28%, #E4F8F1 100%);
  display: inline-block;
  width: 100%;
  padding: 10px 20px; }
  .account-digime .head-acc-digime {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(90.82deg, #1BBFA3 1.83%, #138A7C 67.57%);
    border-radius: 8px;
    padding-left: 100px;
    position: relative; }
    .account-digime .head-acc-digime button {
      background: none;
      outline: none;
      display: flex;
      position: absolute;
      left: 20px;
      top: 25px; }
      .account-digime .head-acc-digime button img {
        margin-right: 5px; }
      .account-digime .head-acc-digime button span {
        color: white; }
    .account-digime .head-acc-digime ul {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: 0 !important; }
      .account-digime .head-acc-digime ul li {
        list-style: none;
        border: 0 !important;
        margin: 0 10px; }
        .account-digime .head-acc-digime ul li a {
          height: 50px;
          display: flex;
          align-items: center;
          padding: 0 40px;
          border-radius: 100px;
          color: white;
          background: rgba(255, 255, 255, 0.319); }
          .account-digime .head-acc-digime ul li a.active {
            color: #1BBFA3;
            background: white; }

.detail-blogs-box {
  display: inline-block;
  width: 100%; }
  .detail-blogs-box .infor-blogs-head {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-right: 650px;
    min-height: 400px; }

.avatar-blogs-Detail {
  position: absolute;
  border-radius: 8px;
  overflow: hidden;
  right: 0;
  top: 0;
  width: 570px; }
  .avatar-blogs-Detail a {
    position: relative;
    padding-top: 57%;
    display: block; }
    .avatar-blogs-Detail a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.content-head-blogsDetail h1 {
  font-size: 44px; }
.content-head-blogsDetail b {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 13px;
  width: 100%; }
  .content-head-blogsDetail b span {
    display: flex;
    align-items: center;
    padding: 0 14px;
    border-radius: 100px;
    background: #1BBFA3;
    height: 33px;
    font-size: 13px;
    color: white; }
  .content-head-blogsDetail b i {
    font-style: normal;
    color: #7A8087;
    font-size: 13px;
    margin-left: 10px; }

.description-Detail-Blogs {
  position: relative;
  display: inline-block;
  width: 100%; }

.content-description-Blogs {
  max-width: 700px;
  margin: auto;
  width: 100%;
  text-align: justify; }
  .content-description-Blogs img {
    width: 100%;
    margin-bottom: 20px; }
  .content-description-Blogs ul {
    padding-left: 25px; }

.table-of-content {
  position: absolute;
  left: 0;
  max-width: 200px;
  width: 100%;
  top: 0; }
  .table-of-content ul {
    padding-left: 0; }
    .table-of-content ul li {
      list-style: none;
      position: relative;
      padding-left: 17px;
      margin-bottom: 10px; }
      .table-of-content ul li::before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 100px;
        background: #BDBDBD;
        position: absolute;
        left: 0;
        top: 8px; }
      .table-of-content ul li a {
        background: none;
        color: #7A8087; }
      .table-of-content ul li:hover::before {
        background: #1BBFA3; }
      .table-of-content ul li:hover a {
        color: #1BBFA3; }

.share-this-blogs {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
  padding: 20px 0;
  margin-bottom: 20px;
  text-align: center; }
  .share-this-blogs span {
    display: inline-block;
    width: 100%; }
  .share-this-blogs .icon-share {
    display: flex;
    justify-content: center;
    width: 100%; }
    .share-this-blogs .icon-share a img {
      width: 30px;
      margin: 0 5px; }

.content-head-blogsDetail {
  display: inline-block;
  width: 100%;
  margin-top: 5%; }

.author-blogs .continue-author {
  display: flex;
  border: 0;
  padding: 0 !important;
  justify-content: left;
  margin-top: 0; }
  .author-blogs .continue-author a {
    justify-content: center; }

.title-author {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px; }
  .title-author b {
    font-size: 22px; }

.blogs-similarSort {
  display: inline-block;
  padding: 20px 0;
  width: 100%;
  margin-top: 50px; }
  .blogs-similarSort .title-curriculum {
    margin-bottom: 20px; }

.body-account {
  display: block;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 30px 0; }
  .body-account .columns-name-acc {
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    display: inline-block;
    width: 100%;
    padding: 20px; }

.avatar-account-page {
  width: 160px;
  position: relative;
  max-width: 160px;
  width: 100%;
  margin: auto; }
  .avatar-account-page a {
    position: relative;
    padding-top: 57%;
    display: block; }
    .avatar-account-page a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
  .avatar-account-page a {
    padding-top: 94% !important;
    border-radius: 1000px;
    border: 5px solid white;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.06); }
  .avatar-account-page .custom-file-input::-webkit-file-upload-button {
    visibility: hidden; }
  .avatar-account-page .custom-file-input::before {
    width: 60px;
    height: 32px;
    display: inline-block;
    content: '';
    outline: none;
    cursor: pointer;
    background: url(../images/cam.svg) no-repeat center top; }
  .avatar-account-page .custom-file-input:hover::before {
    border-color: black; }
  .avatar-account-page .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); }
  .avatar-account-page input {
    background: none;
    position: absolute;
    bottom: -15px;
    left: 51px;
    width: 60px;
    height: 32px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    opacity: 1 !important;
    background: url(../images/cam.svg) no-repeat center top; }

.title-name-account {
  display: inline-block;
  width: 100%;
  margin-top: 20px; }
  .title-name-account b {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin: 15px 0; }

.button-logout {
  display: inline-block;
  width: 100%;
  margin-top: 20px; }
  .button-logout button {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 100px;
    height: 50px;
    border: 1px solid #7A8087;
    padding: 2px 27px;
    margin: auto; }
    .button-logout button img {
      margin-right: 4px; }
    .button-logout button span {
      color: #7A8087; }

.form-account {
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  padding: 20px; }

.checkbox-form {
  margin-top: 20px;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */ }
  .checkbox-form .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    line-height: 29px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .checkbox-form .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .checkbox-form .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid #D7D7D7; }
  .checkbox-form .container:hover input ~ .checkmark {
    background-color: #ffffff; }
  .checkbox-form .container input:checked ~ .checkmark {
    background-color: #1BBFA3; }
  .checkbox-form .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  .checkbox-form .container input:checked ~ .checkmark:after {
    display: block; }
  .checkbox-form .container .checkmark:after {
    left: 9px;
    top: 3px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.btn-save-acc button {
  width: fit-content;
  padding: 0 30px;
  margin: auto;
  border-radius: 100px;
  text-transform: none; }
  .btn-save-acc button img {
    margin-right: 5px; }

.box-loading-account img {
  display: inline-block;
  width: 140px; }

.progress {
  position: relative;
  height: 10px;
  width: 1110%;
  border: 10px solid #1BBFA3;
  border-radius: 15px; }

.progress .color {
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 4s infinite linear; }

@keyframes progres {
  0% {
    width: 0%; }
  25% {
    width: 50%; }
  50% {
    width: 75%; }
  75% {
    width: 85%; }
  100% {
    width: 100%; } }
.right-box-corse-inAcc {
  float: right; }

.box-loading-account {
  position: absolute;
  right: 200px;
  top: 0; }

.content-tab-course-paid .icon-course-avatar {
  width: 140px;
  padding: 0 20px 0 30px; }
.content-tab-course-paid .list-course-item {
  margin-top: 0;
  margin-bottom: 20px; }
.content-tab-course-paid .name-course h6 a {
  font-size: 22px; }
.content-tab-course-paid .name-course {
  width: 50%; }

.empty-course {
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  width: 100%;
  text-align: center;
  padding: 50px 20px; }
  .empty-course img {
    width: 100%;
    margin-bottom: 15px;
    display: inline-block;
    max-width: 500px; }
  .empty-course span {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%; }
  .empty-course b {
    color: #1BBFA3;
    font-style: italic;
    font-size: 32px;
    margin-bottom: 10px; }
  .empty-course .button-link-to-course {
    margin-top: 20px;
    display: inline-block;
    width: 100%; }
    .empty-course .button-link-to-course a {
      display: block;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      padding: 0 27px;
      background: #1BBFA3;
      color: white;
      border-radius: 100px;
      width: fit-content; }
      .empty-course .button-link-to-course a i, .empty-course .button-link-to-course a span {
        color: white; }
      .empty-course .button-link-to-course a span {
        margin-left: 3px; }
      .empty-course .button-link-to-course a:hover {
        color: white;
        text-decoration: none;
        background: #1ADEBD; }
        .empty-course .button-link-to-course a:hover i, .empty-course .button-link-to-course a:hover span, .empty-course .button-link-to-course a:hover b {
          color: white;
          text-decoration: none; }

.title-popup-header {
  display: inline-block;
  width: 100%;
  text-align: center; }
  .title-popup-header b {
    font-size: 32px;
    color: white; }

.body-cart {
  max-width: 900px;
  margin: auto; }
  .body-cart .infor-cart-item-left {
    display: flex;
    align-items: center; }
  .body-cart .list-course-item {
    padding-right: 20px !important;
    justify-content: space-between;
    align-items: center; }
    .body-cart .list-course-item .icon-course-avatar {
      width: 130px; }
  .body-cart .name-course {
    width: initial !important; }
    .body-cart .name-course h6 {
      margin-bottom: 0; }
  .body-cart .price-cart {
    float: right;
    text-align: right;
    display: flex;
    justify-content: right; }
    .body-cart .price-cart b {
      font-size: 32px;
      color: #1BBFA3; }

.title-cart {
  display: inline-block;
  width: 100%;
  margin: 30px 0 20px 0; }
  .title-cart b {
    text-transform: uppercase;
    font-size: 18px;
    color: #2A2F2D; }

.box-option-payment {
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 20px;
  display: inline-block;
  width: 100%; }
  .box-option-payment .item-paymented {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 20px; }
    .box-option-payment .item-paymented img {
      display: inline-block;
      margin-right: 7px; }
      .box-option-payment .item-paymented img:nth-child(2) {
        width: 48px; }
    .box-option-payment .item-paymented span {
      color: #7A8087; }

.button-action-pay {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
  text-align: center; }
  .button-action-pay button {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 27px;
    background: #1BBFA3;
    color: white;
    border-radius: 100px;
    width: fit-content;
    margin: auto; }
    .button-action-pay button i, .button-action-pay button span {
      color: white; }
    .button-action-pay button span {
      margin-left: 3px; }
    .button-action-pay button:hover {
      color: white;
      text-decoration: none;
      background: #1ADEBD; }
      .button-action-pay button:hover i, .button-action-pay button:hover span, .button-action-pay button:hover b {
        color: white;
        text-decoration: none; }

.content-filed-price {
  position: relative;
  padding-left: 70px; }
  .content-filed-price img {
    position: absolute;
    left: 0;
    top: 10px;
    width: 40px; }
  .content-filed-price .infor-filed-price-happy i {
    color: #1BBFA3;
    display: inline-block;
    width: 100%; }
  .content-filed-price .infor-filed-price-happy input {
    border: 2px solid #D7D7D7;
    height: 40px;
    border-radius: 8px;
    padding: 4px 15px;
    width: 100%; }
    .content-filed-price .infor-filed-price-happy input::placeholder {
      color: #BDBDBD; }
    .content-filed-price .infor-filed-price-happy input:focus, .content-filed-price .infor-filed-price-happy input:focus-visible {
      border-color: #1BBFA3 !important; }

.price-optional {
  max-width: 300px; }

.page-404 {
  padding: 50px;
  max-width: 700px;
  margin: auto;
  margin-top: 70px; }
  .page-404 img {
    max-width: 350px;
    width: 100%; }
  .page-404 label {
    font-size: 32px;
    display: inline-block;
    width: 100%;
    color: #1BBFA3 !important; }
  .page-404 p {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 20px; }
    .page-404 p span {
      width: initial !important;
      display: initial !important;
      color: #1BBFA3 !important; }

.box-infor-contact {
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 20px;
  display: inline-block;
  width: 100%;
  margin-top: 20px; }

.right-contact {
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 20px;
  display: inline-block;
  width: 100%;
  margin-top: 20px; }

.thumbnail-contact {
  display: inline-block;
  width: 100%; }
  .thumbnail-contact img {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px; }

.list-infor-contact {
  display: inline-block;
  width: 100%; }
  .list-infor-contact p {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 70px; }
    .list-infor-contact p img {
      position: absolute;
      left: 20px;
      top: 2px; }
    .list-infor-contact p a {
      width: 100%;
      font-size: 18px;
      color: #2A2F2D; }
    .list-infor-contact p:nth-child(1) a {
      color: #1BBFA3;
      font-size: 24px; }

.content-contact {
  min-height: 80vh; }

.mb-50 {
  margin-bottom: 50px; }

/*# sourceMappingURL=style.css.map */
